src/bpm.json
[{"id":"9ac72840.ca4358","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefas/","method":"get","swaggerDoc":"","x":120,"y":60,"wires":[["d4887ea8.76049"]]},{"id":"7aee88e1.a62b38","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":480,"y":60,"wires":[["42b8b362.5f0edc"]]},{"id":"42b8b362.5f0edc","type":"http response","z":"f86766e7.efda18","name":"","x":650,"y":60,"wires":[]},{"id":"d4887ea8.76049","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n\"DECLARE @ASSIGN_TO NVARCHAR(50)\\n\" +\n\"SET @ASSIGN_TO = \" + (msg.req.query.assign_to ? \"'\" + msg.req.query.assign_to + \"'\" : 'NULL') + \"\\n\" +\n\"SELECT TOP 50 * \" +\n\"FROM \\n\" +\n\"\tBPM.dbo.TASK AS TASK \\n\" +\n\"WHERE \\n\" +\n\"   DONE_DATE IS NULL AND \\n\" +\n\"   (TASK.ASSIGN_TO IS NULL OR TASK.ASSIGN_TO IN (@ASSIGN_TO)) \\n\" +\n\"ORDER BY \\n\" +\n\"   CREATE_DATE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["7aee88e1.a62b38"]]},{"id":"5d32fc32.8c4b04","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefa/:id","method":"get","swaggerDoc":"","x":120,"y":120,"wires":[["bee26883.b34178"]]},{"id":"7fea04d6.40269c","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":480,"y":120,"wires":[["78123345.77f5ac"]]},{"id":"78123345.77f5ac","type":"http response","z":"f86766e7.efda18","name":"","x":650,"y":120,"wires":[]},{"id":"bee26883.b34178","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n\"DECLARE @ID INT\\n\" +\n\"SET @ID = \" + (msg.req.params.id || 'NULL') + \"\\n\" +\n\"SELECT * \" +\n\"FROM \\n\" +\n\"\tBPM.dbo.TASK AS TASK \\n\" +\n\"WHERE \\n\" +\n\"   TASK.ID = @ID \\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["7fea04d6.40269c"]]},{"id":"ab297447.7563d8","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":120,"y":940,"wires":[["5860bc6a.efa8e4","f386e671.0df8a8"]]},{"id":"51e4c065.0665d","type":"function","z":"f86766e7.efda18","name":"PARCELAS","func":"msg.pedido.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n\"   CACPG1.CCPg1Por AS porcentagem, \" +\n\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.pedido.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":880,"wires":[["ab297447.7563d8","50cdfc96.e138c4"]]},{"id":"e039334c.200af","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":120,"y":460,"wires":[["8bc932a1.8d3e5","2b2f6344.b8979c"]]},{"id":"d627db77.192ae8","type":"inject","z":"f86766e7.efda18","name":"","topic":"","payload":"74700","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["c96387af.787908"]]},{"id":"29a14469.86335c","type":"function","z":"f86766e7.efda18","name":"PEDIDO","func":"msg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.payload || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"\tCAST(LPV.LPENT AS DATE)     AS emissao, \" +\n\"\tCAST(LPV.Lp0SaiRed AS DATE) AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao, \" +\n\"   1 AS desconto \" + \n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":400,"wires":[["e039334c.200af"]]},{"id":"5457bc09.6919a4","type":"debug","z":"f86766e7.efda18","name":"","active":false,"console":"true","complete":"payload","x":310,"y":1000,"wires":[]},{"id":"5860bc6a.efa8e4","type":"function","z":"f86766e7.efda18","name":"PAYLOAD","func":"msg.pedido.parcelas = msg.payload;\nreturn {\n    _msgid: msg._msgid,\n    count: msg.count,\n    numero: msg.numero,\n    payload: msg.pedido\n};","outputs":1,"noerr":0,"x":130,"y":1000,"wires":[["5457bc09.6919a4","840552be.65dfc"]]},{"id":"50cdfc96.e138c4","type":"debug","z":"f86766e7.efda18","name":"","active":false,"console":"false","complete":"payload","x":310,"y":880,"wires":[]},{"id":"8bc932a1.8d3e5","type":"debug","z":"f86766e7.efda18","name":"","active":false,"console":"false","complete":"payload","x":290,"y":460,"wires":[]},{"id":"f386e671.0df8a8","type":"debug","z":"f86766e7.efda18","name":"","active":false,"console":"false","complete":"payload","x":310,"y":940,"wires":[]},{"id":"2cd1907f.cc992","type":"function","z":"f86766e7.efda18","name":"CLIENTE","func":"msg.pedido.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.pedido.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS)) AS inscricao, \" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome, \" +\n\"   LTRIM(RTRIM(CACLI.CCLogTip0CodC)) AS logradouro, \" +\n\"   LTRIM(RTRIM(CACLI.CCCEN)) AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum)) AS numero, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENCpl)) AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA)) AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI)) AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP)) AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES)) AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5)) AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3)) AS telefone, \" +\n\"   LTRIM(RTRIM(CACLI.CCCO1)) AS contato, \" +\n\"   CAST('TRUE' AS BIT) AS desconto \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":640,"wires":[["dabc8cc2.3d336"]]},{"id":"dabc8cc2.3d336","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":120,"y":700,"wires":[["4e1ec544.b04a4c"]]},{"id":"4e1ec544.b04a4c","type":"function","z":"f86766e7.efda18","name":"REPRESENTANTE","func":"msg.pedido.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.pedido.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":760,"wires":[["f2ba4d01.2cf67"]]},{"id":"f2ba4d01.2cf67","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":120,"y":820,"wires":[["51e4c065.0665d"]]},{"id":"840552be.65dfc","type":"function","z":"f86766e7.efda18","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR TASK_SEQUENCE \" +\n\"INSERT INTO TASK \" +\n\"   (ID, \" +\n\"   NAME, \" +\n\"   TITLE, \" +\n\"   DETAIL, \" +\n\"   PAYLOAD, \" +\n\"   ASSIGN_TO, \" +\n\"   LINK, \" +\n\"   DUE_DATE, \" +\n\"   CREATE_DATE, \" +\n\"   DONE_DATE) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   'Conferir Duplicatas', \" +\n\"   'Pedido \" + msg.payload.numero + \"', \" +\n\"   '\" + msg.payload.cliente.nome + \"', \" +\n\"   '\" + JSON.stringify(msg.payload) + \"', \" + \n\"   'neuci.bavato@altamira.com.br', \" +\n\"   '/duplicata/conferencia/' + CAST(@ID AS NVARCHAR), \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":1060,"wires":[["dd0ae154.6ab75"]]},{"id":"dd0ae154.6ab75","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":120,"y":1120,"wires":[["c96387af.787908"]]},{"id":"2b2f6344.b8979c","type":"function","z":"f86766e7.efda18","name":"TOTAIS","func":"if (msg.payload.length > 0) {\n    msg.pedido = msg.payload[0];\n    msg.payload = \n    \"DECLARE @PEDIDO INT \" +\n    \"SET @PEDIDO = \" + (msg.pedido.numero || 'NULL') + \" \" +\n    \"SELECT \" +\n    \"\tLPV1.produtos, \" + \n    \"\tLPV1.ipi, \" +\n    \"\tLPV1.total \" +\n    \"FROM \" +\n    \"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n    \"   LEFT OUTER JOIN \" +\n    \"   (SELECT \" +\n    \"    \tLPPED, \" + \n    \"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n    \"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n    \"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n    \"\tFROM \" +\n    \"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n    \"\tGROUP BY \" +\n    \"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n    \"WHERE \" +\n    \"   LPV.LPPED = @PEDIDO\"\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":120,"y":520,"wires":[["b09e35bd.6b0988"]]},{"id":"b09e35bd.6b0988","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":120,"y":580,"wires":[["2cd1907f.cc992"]]},{"id":"c96387af.787908","type":"function","z":"f86766e7.efda18","name":"CONTADOR","func":"if (msg.count === undefined) {\n    return {\n        count: 0,\n        numero: msg.payload,\n        payload: msg.payload\n    }\n} else {\n    if (msg.count < 10) {\n        return {\n            count: msg.count++,\n            numero: msg.numero + msg.count,\n            payload: msg.numero + msg.count\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":130,"y":340,"wires":[["29a14469.86335c","72d06436.c068ac"]]},{"id":"72d06436.c068ac","type":"debug","z":"f86766e7.efda18","name":"","active":false,"console":"false","complete":"payload","x":290,"y":340,"wires":[]},{"id":"621e506c.197f2","type":"comment","z":"f86766e7.efda18","name":"CONFERIR DUPLICATA (TESTES)","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":180,"y":220,"wires":[]},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"}]