src/bpm.json
[{"id":"9ac72840.ca4358","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefas/","method":"get","swaggerDoc":"","x":120,"y":60,"wires":[["d4887ea8.76049"]]},{"id":"7aee88e1.a62b38","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":480,"y":60,"wires":[["42b8b362.5f0edc"]]},{"id":"42b8b362.5f0edc","type":"http response","z":"f86766e7.efda18","name":"","x":650,"y":60,"wires":[]},{"id":"d4887ea8.76049","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n\"DECLARE @ATRIBUIR NVARCHAR(50)\\n\" +\n\"SET @ATRIBUIR = \" + (msg.req.query.atribuir ? \"'\" + msg.req.query.atribuir + \"'\" : 'NULL') + \"\\n\" +\n\"SELECT \" +\n\"   id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido \" +\n\"FROM \\n\" +\n\"\tBPM.dbo.TAREFAS \\n\" +\n\"WHERE \\n\" +\n\"   concluido IS NULL AND \\n\" +\n\"   (atribuir IS NULL OR atribuir IN (@ATRIBUIR)) \\n\" +\n\"ORDER BY \\n\" +\n\"   criado\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["7aee88e1.a62b38"]]},{"id":"5d32fc32.8c4b04","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefa/:id","method":"get","swaggerDoc":"","x":120,"y":120,"wires":[["bee26883.b34178"]]},{"id":"7fea04d6.40269c","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":480,"y":120,"wires":[["d5caaa42.024008"]]},{"id":"78123345.77f5ac","type":"http response","z":"f86766e7.efda18","name":"","x":810,"y":120,"wires":[]},{"id":"bee26883.b34178","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n\"DECLARE @ID INT\\n\" +\n\"SET @ID = \" + (msg.req.params.id || 'NULL') + \"\\n\" +\n\"SELECT * \" +\n\"FROM \\n\" +\n\"\tBPM.dbo.TAREFAS \\n\" +\n\"WHERE \\n\" +\n\"   id = @ID \\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["7fea04d6.40269c"]]},{"id":"d5caaa42.024008","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = msg.payload[0]\nmsg.payload.conteudo = JSON.parse(msg.payload.conteudo);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["78123345.77f5ac"]]},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"}]