src/financeiro.json
[{"id":"93303209.ee2b","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["cbe0256d.84add8"]]},{"id":"aa083202.1416","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":80,"wires":[]},{"id":"c0d031d2.07759","type":"comment","z":"e6097cee.8df04","name":"Financeiro","info":"Nova versão usando ReactJS e Material-UI","x":100,"y":40,"wires":[]},{"id":"ce2f823.01df08","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/static/:folder/:file","method":"get","swaggerDoc":"","x":170,"y":160,"wires":[["bef6192b.b4f178"]]},{"id":"a1ebd125.4ca94","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":160,"wires":[]},{"id":"bef6192b.b4f178","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["d4e2f328.e10bb"]]},{"id":"cbe0256d.84add8","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\index.html","format":"utf8","x":460,"y":80,"wires":[["aa083202.1416"]]},{"id":"d4e2f328.e10bb","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":570,"y":160,"wires":[["baa56b64.2fc918"]]},{"id":"baa56b64.2fc918","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["a1ebd125.4ca94"]]},{"id":"6f7c6eea.ba148","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/favicon.ico","method":"get","swaggerDoc":"","x":150,"y":120,"wires":[["84dd209e.93c37"]]},{"id":"84dd209e.93c37","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\favicon.ico","format":"utf8","x":460,"y":120,"wires":[["890fd83a.72e8b8"]]},{"id":"eecd704d.87544","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":120,"wires":[]},{"id":"890fd83a.72e8b8","type":"function","z":"e6097cee.8df04","name":"image/x-icon","func":"msg.headers = { \"Content-type\" : \"image/x-icon\" }\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["eecd704d.87544"]]},{"id":"69bba89a.20d418","type":"http in","z":"e6097cee.8df04","name":"","url":"/static/:folder/:file","method":"get","swaggerDoc":"","x":140,"y":200,"wires":[["cc7794e5.262878"]]},{"id":"cc7794e5.262878","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["f30b2f16.a55de"]]},{"id":"f30b2f16.a55de","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":570,"y":200,"wires":[["b04bff27.eb89f"]]},{"id":"2b5aa957.08bd26","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":200,"wires":[]},{"id":"b04bff27.eb89f","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["2b5aa957.08bd26"]]},{"id":"2a41badf.bd5766","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/emissao/busca","method":"get","swaggerDoc":"","x":200,"y":280,"wires":[["532ac17e.8f755"]]},{"id":"532ac17e.8f755","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n\"DECLARE @PEDIDO INT\\n\" +\n\"DECLARE @CNPJ NVARCHAR(14)\\n\" +\n\"DECLARE @NOME NVARCHAR(100)\\n\" +\n\"SET @PEDIDO = \" + (msg.req.query.pedido || 'NULL') + \"\\n\" +\n\"SET @CNPJ = \" + (\"'\" + msg.req.query.cnpj + \"'\" || 'NULL') + \"\\n\" +\n\"SET @NOME = \" + (\"'\" + msg.req.query.nome + \"'\" || 'NULL') + \"\\n\" +\n\"SELECT top 10 \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP)) AS empresa, \\n\" +\n\"\tCAST(LPV.LPPED AS INT) AS pedido, \\n\" +\n\"\tCAST(LPV.LPENT AS DATE) AS emissao, \\n\" +\n\"\tLPV.Lp0SaiRed AS entrega, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome \\n\" +\n\"FROM \\n\" +\n\"\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN \\n\" +\n\"   GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC \\n\" +\n\"WHERE \\n\" +\n\"   (@PEDIDO IS NULL OR LPV.LPPED LIKE '%' + CAST(@PEDIDO AS NVARCHAR(10)) + '%') AND \\n\" +\n\"   (@CNPJ IS NULL OR CACLI.CCCGC LIKE '%' + @CNPJ + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCFAN LIKE '%' + @NOME + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCNOM LIKE '%' + @NOME + '%') \\n\" +\n\"ORDER BY \\n\" +\n\"   LPV.LPPED DESC\"\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["2dbd701f.2aa36"]]},{"id":"6ef6407e.f5c61","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":280,"wires":[]},{"id":"2dbd701f.2aa36","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":740,"y":280,"wires":[["6ef6407e.f5c61"]]},{"id":"60be9a9e.e5c164","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/faturamento/concluir/:tarefa","method":"post","swaggerDoc":"","x":240,"y":340,"wires":[["26c5aa62.411ce6","f4e90c40.671c9"]]},{"id":"26c5aa62.411ce6","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":150,"y":400,"wires":[]},{"id":"54c2cf15.e655f","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":780,"wires":[["312c4278.681bee","a19da9b4.6dff18"]]},{"id":"312c4278.681bee","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":440,"y":840,"wires":[["91ea893f.02afe8"]]},{"id":"a19da9b4.6dff18","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":450,"y":780,"wires":[]},{"id":"91ea893f.02afe8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":130,"y":820,"wires":[["54c2cf15.e655f"],["2d642e88.57c822"]]},{"id":"4951732f.f9bd4c","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/cobranca/concluir/:tarefa","method":"post","swaggerDoc":"","x":870,"y":340,"wires":[["fdc27142.869bd","9b4a7cff.aa6af"]]},{"id":"88652451.f1d378","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nmsg.pedido.parcelas.forEach( p => {\n    if (p.selected && !p.carteira) {\n        p.carteira = msg.pedido.conta;\n        p.envio = new Date();\n    }\n})\n\nif (msg.pedido.cliente.desconto && msg.pedido.parcelas.find( p => !p.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Envio de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   NULL, \" +\n            \"   '/duplicata/cobranca/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.pedido.parcelas.forEach( p => {\n    if (p.selected) {\n        delete p.selected;\n    }\n})\n    \nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Remessa de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   NULL, \" +\n    \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE id = @ID;\"  \n\nreturn msg;","outputs":"1","noerr":0,"x":780,"y":880,"wires":[["23b93b70.079bb4"]]},{"id":"718dde73.1dee5","type":"http response","z":"e6097cee.8df04","name":"","x":1090,"y":880,"wires":[]},{"id":"23b93b70.079bb4","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":920,"y":880,"wires":[["718dde73.1dee5","7b84f1cc.f8562","dbad036.fc1b9"]]},{"id":"8b7b69bc.f07fd8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1190,"y":980,"wires":[]},{"id":"7b84f1cc.f8562","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.topic = '/tarefas/concluida/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":940,"wires":[["8b7b69bc.f07fd8","e06c6225.2ef94"]]},{"id":"e06c6225.2ef94","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":1200,"y":940,"wires":[]},{"id":"fdc27142.869bd","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":810,"y":400,"wires":[]},{"id":"9b4a7cff.aa6af","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["879a5f29.696a5","bc7dca3b.883f88"]]},{"id":"879a5f29.696a5","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":950,"y":440,"wires":[]},{"id":"d31a6438.c60be8","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":780,"wires":[["9eff8fd.f76ff7","ec36ad4e.e58de"]]},{"id":"9eff8fd.f76ff7","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1080,"y":840,"wires":[["3ff06943.ae7856"]]},{"id":"ec36ad4e.e58de","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1090,"y":780,"wires":[]},{"id":"3ff06943.ae7856","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":770,"y":820,"wires":[["d31a6438.c60be8"],["88652451.f1d378"]]},{"id":"1d789a13.578126","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":920,"y":1100,"wires":[["12ae0e3b.945722","3915529.ddd04ae"]]},{"id":"ea4a04e8.b79a88","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1150,"y":1160,"wires":[]},{"id":"dbad036.fc1b9","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":890,"y":1040,"wires":[["1d789a13.578126"]]},{"id":"26fa6812.1647b8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1140,"y":1100,"wires":[]},{"id":"12ae0e3b.945722","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1160,"wires":[["26fa6812.1647b8","ea4a04e8.b79a88"]]},{"id":"2d642e88.57c822","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE BPM.dbo.TAREFAS SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM BPM.dbo.TAREFAS WHERE id = @ID;\"\n\nif (msg.pedido.cliente.desconto) {\n    msg.newTask = \n        \"DECLARE @ID INT \" +\n        \"SET @ID = NEXT VALUE FOR TAREFA_SEQUENCIA \" +\n        \"INSERT INTO BPM.dbo.TAREFAS \" +\n        \"   (id, \" +\n        \"   nome, \" +\n        \"   titulo, \" +\n        \"   descricao, \" +\n        \"   conteudo, \" +\n        \"   atribuir, \" +\n        \"   form, \" +\n        \"   parametros, \" +\n        \"   prazo, \" +\n        \"   criado, \" +\n        \"   concluido) \" +\n        \"VALUES \" +\n        \"   (@ID, \" +\n        \"   'Envio de Cobrança', \" +\n        \"   'Pedido \" + msg.pedido.numero + \"', \" +\n        \"   '\" + msg.pedido.cliente.nome + \"', \" +\n        \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n        \"   NULL, \" +\n        \"   '/duplicata/cobranca/' + CAST(@ID AS NVARCHAR(10)), \" +\n        \"   NULL, \" +\n        \"   NULL, \" +\n        \"   GETDATE(), \" +\n        \"   NULL); \" +\n        \"SELECT * FROM BPM.dbo.TAREFAS WHERE id = @ID;\"\n\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":140,"y":900,"wires":[["a408ee1a.3579f","b3068014.bb009"]]},{"id":"c6cc7361.406e5","type":"http response","z":"e6097cee.8df04","name":"","x":290,"y":960,"wires":[]},{"id":"a408ee1a.3579f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":140,"y":960,"wires":[["c6cc7361.406e5","312ac2b4.cbb98e","a8fdcb1.fe9b938"]]},{"id":"80fce150.6ce0f","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":390,"y":1060,"wires":[]},{"id":"312ac2b4.cbb98e","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.topic = '/tarefas/concluida/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1020,"wires":[["80fce150.6ce0f","9e077e1a.e61df"]]},{"id":"9e077e1a.e61df","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":400,"y":1020,"wires":[]},{"id":"59fbf01b.50a34","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":120,"y":1140,"wires":[["397e15dd.70a82a"]]},{"id":"a79a27df.d56698","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":350,"y":1200,"wires":[]},{"id":"a8fdcb1.fe9b938","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.newTask) {\n    msg.payload = msg.newTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":110,"y":1080,"wires":[["59fbf01b.50a34"]]},{"id":"d86c3531.4d3fc8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":340,"y":1140,"wires":[]},{"id":"397e15dd.70a82a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1200,"wires":[["d86c3531.4d3fc8","a79a27df.d56698"]]},{"id":"e714c100.95187","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/carteira","method":"get","swaggerDoc":"","x":1250,"y":80,"wires":[["6d99e77e.e79708"]]},{"id":"fd576ca2.f0b3f","type":"http response","z":"e6097cee.8df04","name":"","x":1850,"y":80,"wires":[]},{"id":"9fb727f0.568c08","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1680,"y":80,"wires":[["fd576ca2.f0b3f"]]},{"id":"6d99e77e.e79708","type":"function","z":"e6097cee.8df04","name":"CARTEIRA","func":"\nmsg.payload = \n\n\"SELECT * FROM FINANCEIRO.dbo.CRT\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":80,"wires":[["9fb727f0.568c08"]]},{"id":"2c6dbcc4.30b214","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":920,"y":1280,"wires":[["df09c4d.4a14b38"]]},{"id":"40cd130e.8de1ac","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1150,"y":1340,"wires":[]},{"id":"3915529.ddd04ae","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":910,"y":1220,"wires":[["2c6dbcc4.30b214"]]},{"id":"d28dddd9.92d36","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1140,"y":1280,"wires":[]},{"id":"df09c4d.4a14b38","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1340,"wires":[["d28dddd9.92d36","40cd130e.8de1ac"]]},{"id":"1d36bc3d.211274","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/remessa/concluir/:tarefa","method":"post","swaggerDoc":"","x":1510,"y":340,"wires":[["2d08127a.1b37ce","65e2750f.524dec"]]},{"id":"d8bb488e.aa1888","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\n\nmsg.pedido.parcelas.forEach( p => {\n    if (p.selected && !p.remessa) {\n        p.remessa = new Date();\n    }\n})\n\nif (msg.pedido.cliente.desconto && msg.pedido.parcelas.find( p => !p.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Remessa de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   NULL, \" +\n            \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.pedido.parcelas.forEach( p => {\n    if (p.selected) {\n        delete p.selected;\n    }\n})\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Retorno de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   NULL, \" +\n    \"   '/duplicata/retorno/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE ID = @ID;\"\n\n\nreturn msg;","outputs":"1","noerr":0,"x":1420,"y":880,"wires":[["aa98c71e.9fd8c8"]]},{"id":"aef34ddf.13601","type":"http response","z":"e6097cee.8df04","name":"","x":1730,"y":880,"wires":[]},{"id":"aa98c71e.9fd8c8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1580,"y":880,"wires":[["aef34ddf.13601","ed105ec2.aa3d5","6bf87aad.9a9d24"]]},{"id":"fb8fca07.d82ff8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1830,"y":980,"wires":[]},{"id":"ed105ec2.aa3d5","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.topic = '/tarefas/concluida/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":940,"wires":[["fb8fca07.d82ff8","5cb82ceb.66ac54"]]},{"id":"5cb82ceb.66ac54","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":1840,"y":940,"wires":[]},{"id":"2d08127a.1b37ce","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":1450,"y":400,"wires":[]},{"id":"65e2750f.524dec","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":440,"wires":[["6f8c7874.abe118","ebb583ba.838e9"]]},{"id":"6f8c7874.abe118","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1420,"y":500,"wires":[["be0f9c83.e3cbe"]]},{"id":"ebb583ba.838e9","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1590,"y":440,"wires":[]},{"id":"be0f9c83.e3cbe","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":560,"wires":[["5afec2f2.2556ac","b2512bf1.af08b8"]]},{"id":"5afec2f2.2556ac","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1420,"y":620,"wires":[["6f603854.cfd8d8"]]},{"id":"b2512bf1.af08b8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1590,"y":560,"wires":[]},{"id":"6f603854.cfd8d8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":680,"wires":[["e8bf4c95.1c02f","e0ab054d.1555d8"]]},{"id":"e0ab054d.1555d8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1590,"y":680,"wires":[]},{"id":"e8bf4c95.1c02f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1420,"y":740,"wires":[["eca8371b.ffbcd8"]]},{"id":"4d944b4b.3c7c24","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":780,"wires":[["e003dacb.972568","26753cd4.8af5e4"]]},{"id":"e003dacb.972568","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1720,"y":840,"wires":[["eca8371b.ffbcd8"]]},{"id":"26753cd4.8af5e4","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1730,"y":780,"wires":[]},{"id":"eca8371b.ffbcd8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1410,"y":820,"wires":[["4d944b4b.3c7c24"],["d8bb488e.aa1888"]]},{"id":"9a497fb0.5ac03","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1560,"y":1100,"wires":[["d8224fab.a987a","5a1e3249.78c21c"]]},{"id":"6b20ec87.b0b834","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1790,"y":1160,"wires":[]},{"id":"6bf87aad.9a9d24","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":1550,"y":1040,"wires":[["9a497fb0.5ac03"]]},{"id":"ac57364c.454b98","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1780,"y":1100,"wires":[]},{"id":"d8224fab.a987a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":1160,"wires":[["ac57364c.454b98","6b20ec87.b0b834"]]},{"id":"d51c6292.21d67","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1560,"y":1280,"wires":[["336ba990.137ed6"]]},{"id":"696ff4f.5c8380c","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1790,"y":1340,"wires":[]},{"id":"5a1e3249.78c21c","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":1550,"y":1220,"wires":[["d51c6292.21d67"]]},{"id":"d2e1e303.5067d","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1780,"y":1280,"wires":[]},{"id":"336ba990.137ed6","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":1340,"wires":[["d2e1e303.5067d","696ff4f.5c8380c"]]},{"id":"28d0b350.2af9bc","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/retorno/concluir/:tarefa","method":"post","swaggerDoc":"","x":2150,"y":340,"wires":[["2a12d6e.984b62a","3a8ed708.647b58"]]},{"id":"3c135e6f.9ea4d2","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nreturn msg;","outputs":"1","noerr":0,"x":2060,"y":880,"wires":[["263b6208.e37d2e"]]},{"id":"6233ca62.39a584","type":"http response","z":"e6097cee.8df04","name":"","x":2370,"y":880,"wires":[]},{"id":"263b6208.e37d2e","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":2220,"y":880,"wires":[["6233ca62.39a584","98b786d.f50e978"]]},{"id":"f8d4e025.a5e97","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":2470,"y":980,"wires":[]},{"id":"98b786d.f50e978","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.topic = '/tarefas/concluida/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":2330,"y":940,"wires":[["f8d4e025.a5e97","3fc1279f.799868"]]},{"id":"3fc1279f.799868","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":2480,"y":940,"wires":[]},{"id":"2a12d6e.984b62a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":2090,"y":400,"wires":[]},{"id":"3a8ed708.647b58","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":440,"wires":[["9e67792.ed36488","db92b20d.f0d4a"]]},{"id":"9e67792.ed36488","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2060,"y":500,"wires":[["a5225f21.a0f1b"]]},{"id":"db92b20d.f0d4a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2230,"y":440,"wires":[]},{"id":"a5225f21.a0f1b","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":560,"wires":[["9eec0c49.b5a37","3a5a6f7d.69e59"]]},{"id":"9eec0c49.b5a37","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2060,"y":620,"wires":[["7f592340.c3d3fc"]]},{"id":"3a5a6f7d.69e59","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2230,"y":560,"wires":[]},{"id":"7f592340.c3d3fc","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":680,"wires":[["146d0cf9.87a2d3","2fd3662a.19f39a"]]},{"id":"2fd3662a.19f39a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2230,"y":680,"wires":[]},{"id":"146d0cf9.87a2d3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2060,"y":740,"wires":[["3b1b5efd.d86c22"]]},{"id":"4155af6b.d2b55","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":780,"wires":[["e2f58791.4c6328","9f283c02.00454"]]},{"id":"e2f58791.4c6328","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2360,"y":840,"wires":[["3b1b5efd.d86c22"]]},{"id":"9f283c02.00454","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2370,"y":780,"wires":[]},{"id":"3b1b5efd.d86c22","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":2050,"y":820,"wires":[["4155af6b.d2b55"],["3c135e6f.9ea4d2"]]},{"id":"b3068014.bb009","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":310,"y":900,"wires":[]},{"id":"f4e90c40.671c9","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":440,"wires":[["44d0e170.a2aba","e7becb0.a66e238"]]},{"id":"44d0e170.a2aba","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":310,"y":440,"wires":[]},{"id":"44419bf5.1e8a14","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":780,"y":740,"wires":[["3ff06943.ae7856"]]},{"id":"4c4b42de.673cdc","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":950,"y":680,"wires":[]},{"id":"2d01577.480a1a8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":680,"wires":[["44419bf5.1e8a14","4c4b42de.673cdc"]]},{"id":"65d9bfb1.39189","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"15717d30.5e63f3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":780,"y":620,"wires":[["2d01577.480a1a8"]]},{"id":"6ffa983.6cb4568","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":560,"wires":[["15717d30.5e63f3","65d9bfb1.39189"]]},{"id":"bc7dca3b.883f88","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":780,"y":500,"wires":[["6ffa983.6cb4568"]]},{"id":"e7becb0.a66e238","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":140,"y":500,"wires":[["222bbf4c.afc67"]]},{"id":"222bbf4c.afc67","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":560,"wires":[["9da0c674.e072d8","8211c3fd.47875"]]},{"id":"8211c3fd.47875","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":310,"y":560,"wires":[]},{"id":"9da0c674.e072d8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":140,"y":620,"wires":[["bd546452.838ea8"]]},{"id":"bd546452.838ea8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":680,"wires":[["3ccd4b59.ff3564","619271d9.c54ba"]]},{"id":"619271d9.c54ba","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":310,"y":680,"wires":[]},{"id":"3ccd4b59.ff3564","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":140,"y":740,"wires":[["91ea893f.02afe8"]]},{"id":"bf5d013a.b5016","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":170,"y":2380,"wires":[["1f3b18d3.dbc6c7","f6c875b2.f49208"]]},{"id":"30c1927c.9fb2ee","type":"function","z":"e6097cee.8df04","name":"PARCELAS","func":"msg.pedido.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n\"   CACPG1.CCPg1Por AS porcentagem, \" +\n\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.pedido.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":2320,"wires":[["bf5d013a.b5016","1438fd31.9e2eb3"]]},{"id":"bc57deac.de269","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":170,"y":1900,"wires":[["21225bb2.40c534","8633d00b.618a7"]]},{"id":"5aaae36b.38818c","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"74715","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":1720,"wires":[["44035876.89f438"]]},{"id":"dcb2e67f.98d278","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.payload || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"\tCAST(LPV.LPENT AS DATE)     AS emissao, \" +\n\"\tCAST(LPV.Lp0SaiRed AS DATE) AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao, \" +\n\"   1 AS desconto \" + \n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1840,"wires":[["bc57deac.de269"]]},{"id":"6403c5bb.4f884c","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"true","complete":"payload","x":360,"y":2440,"wires":[]},{"id":"1f3b18d3.dbc6c7","type":"function","z":"e6097cee.8df04","name":"PAYLOAD","func":"msg.pedido.parcelas = msg.payload;\nreturn {\n    _msgid: msg._msgid,\n    count: msg.count,\n    numero: msg.numero,\n    payload: msg.pedido\n};","outputs":1,"noerr":0,"x":180,"y":2440,"wires":[["6403c5bb.4f884c","ce3e7e7b.04ce"]]},{"id":"1438fd31.9e2eb3","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":360,"y":2320,"wires":[]},{"id":"21225bb2.40c534","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":340,"y":1900,"wires":[]},{"id":"f6c875b2.f49208","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":360,"y":2380,"wires":[]},{"id":"ffbc8dd3.c1351","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.pedido.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.pedido.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS)) AS inscricao, \" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome, \" +\n\"   LTRIM(RTRIM(CACLI.CCLogTip0CodC)) AS logradouro, \" +\n\"   LTRIM(RTRIM(CACLI.CCCEN)) AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum)) AS numero, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENCpl)) AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA)) AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI)) AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP)) AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES)) AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5)) AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3)) AS telefone, \" +\n\"   LTRIM(RTRIM(CACLI.CCCO1)) AS contato, \" +\n\"   CAST('TRUE' AS BIT) AS desconto \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2080,"wires":[["7919f52b.2022cc"]]},{"id":"7919f52b.2022cc","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":170,"y":2140,"wires":[["9680bfcc.326b1"]]},{"id":"9680bfcc.326b1","type":"function","z":"e6097cee.8df04","name":"REPRESENTANTE","func":"msg.pedido.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.pedido.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":2200,"wires":[["272e55d7.c67caa"]]},{"id":"272e55d7.c67caa","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":170,"y":2260,"wires":[["30c1927c.9fb2ee"]]},{"id":"ce3e7e7b.04ce","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR TASK_SEQUENCE \" +\n\"INSERT INTO TASK \" +\n\"   (ID, \" +\n\"   NAME, \" +\n\"   TITLE, \" +\n\"   DETAIL, \" +\n\"   PAYLOAD, \" +\n\"   ASSIGN_TO, \" +\n\"   LINK, \" +\n\"   DUE_DATE, \" +\n\"   CREATE_DATE, \" +\n\"   DONE_DATE) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   'Conferir Duplicatas', \" +\n\"   'Pedido \" + msg.payload.numero + \"', \" +\n\"   '\" + msg.payload.cliente.nome + \"', \" +\n\"   '\" + JSON.stringify(msg.payload) + \"', \" + \n\"   'neuci.bavato@altamira.com.br', \" +\n\"   '/duplicata/conferencia/' + CAST(@ID AS NVARCHAR), \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":2500,"wires":[["5a03dd89.b93734"]]},{"id":"5a03dd89.b93734","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":170,"y":2560,"wires":[["44035876.89f438"]]},{"id":"8633d00b.618a7","type":"function","z":"e6097cee.8df04","name":"TOTAIS","func":"if (msg.payload.length > 0) {\n    msg.pedido = msg.payload[0];\n    msg.payload = \n    \"DECLARE @PEDIDO INT \" +\n    \"SET @PEDIDO = \" + (msg.pedido.numero || 'NULL') + \" \" +\n    \"SELECT \" +\n    \"\tLPV1.produtos, \" + \n    \"\tLPV1.ipi, \" +\n    \"\tLPV1.total \" +\n    \"FROM \" +\n    \"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n    \"   LEFT OUTER JOIN \" +\n    \"   (SELECT \" +\n    \"    \tLPPED, \" + \n    \"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n    \"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n    \"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n    \"\tFROM \" +\n    \"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n    \"\tGROUP BY \" +\n    \"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n    \"WHERE \" +\n    \"   LPV.LPPED = @PEDIDO\"\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":170,"y":1960,"wires":[["c109ab8.733a158"]]},{"id":"c109ab8.733a158","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":170,"y":2020,"wires":[["ffbc8dd3.c1351"]]},{"id":"44035876.89f438","type":"function","z":"e6097cee.8df04","name":"CONTADOR","func":"if (msg.count === undefined) {\n    return {\n        count: 0,\n        numero: msg.payload,\n        payload: msg.payload\n    }\n} else {\n    if (msg.count < 10) {\n        return {\n            count: msg.count++,\n            numero: msg.numero + msg.count,\n            payload: msg.numero + msg.count\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":180,"y":1780,"wires":[["dcb2e67f.98d278","85bfb46c.a592d8"]]},{"id":"85bfb46c.a592d8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":340,"y":1780,"wires":[]},{"id":"f2baa89b.1b2e88","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":230,"y":1500,"wires":[]},{"id":"54ca722a.3430ac","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":160,"y":1560,"wires":[["eee6cb0f.0fb7f8"]]},{"id":"eee6cb0f.0fb7f8","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1560,"wires":[["904bfdd2.b3f01"]]},{"id":"904bfdd2.b3f01","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":510,"y":1560,"wires":[["44108031.360a","88813f36.7fce6"]]},{"id":"44108031.360a","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":700,"y":1560,"wires":[]},{"id":"117fca42.d0da06","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":690,"y":2460,"wires":[["d2113b39.015798","363fa429.c5a68c"]]},{"id":"7ab59a6a.b28dc4","type":"function","z":"e6097cee.8df04","name":"PARCELAS","func":"msg.pedido.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n\"   CACPG1.CCPg1Por AS porcentagem, \" +\n\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.pedido.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2400,"wires":[["117fca42.d0da06","516fac40.ae1ca4"]]},{"id":"e9595106.bfbb","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":690,"y":1980,"wires":[["43546cae.5a9f34","e3ffbb1b.9fa0d8"]]},{"id":"99ac45dc.d77b08","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.eventos[msg.evento].id || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"LPV.LPENT     AS emissao, \" +\n\"\tLPV.Lp0SaiRed AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao, \" +\n\"   1 AS desconto \" + \n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1920,"wires":[["e9595106.bfbb","1f7c3d00.65f7e3"]]},{"id":"516fac40.ae1ca4","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":880,"y":2400,"wires":[]},{"id":"43546cae.5a9f34","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":880,"y":1980,"wires":[]},{"id":"d2113b39.015798","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":880,"y":2460,"wires":[]},{"id":"1107df02.bc2bd1","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.pedido.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.pedido.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS)) AS inscricao, \" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome, \" +\n\"   LTRIM(RTRIM(CACLI.CCLogTip0CodC)) AS logradouro, \" +\n\"   LTRIM(RTRIM(CACLI.CCCEN)) AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum)) AS numero, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENCpl)) AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA)) AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI)) AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP)) AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES)) AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5)) AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3)) AS telefone, \" +\n\"   LTRIM(RTRIM(CACLI.CCCO1)) AS contato, \" +\n\"   CAST('TRUE' AS BIT) AS desconto \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2160,"wires":[["4e2bfc20.779344"]]},{"id":"4e2bfc20.779344","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":690,"y":2220,"wires":[["369c9fd5.ba5c9"]]},{"id":"369c9fd5.ba5c9","type":"function","z":"e6097cee.8df04","name":"REPRESENTANTE","func":"msg.pedido.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.pedido.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":2280,"wires":[["cfefa4c4.dbdd18"]]},{"id":"cfefa4c4.dbdd18","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":690,"y":2340,"wires":[["7ab59a6a.b28dc4"]]},{"id":"ba79d226.f54a9","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"\nmsg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n\"INSERT INTO tarefas \" +\n\"   (id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n\"   conteudo, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   'Conferir Duplicatas', \" +\n\"   'Pedido \" + msg.pedido.numero + \"', \" +\n\"   '\" + msg.pedido.cliente.nome + \"', \" +\n\"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n\"   NULL, \" +\n\"   '/duplicata/faturamento/' + CAST(@ID AS NVARCHAR), \" +\n\"   NULL, \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL);\" +\n\"SELECT * from tarefas WHERE id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2660,"wires":[["88efb743.bee858"]]},{"id":"e3ffbb1b.9fa0d8","type":"function","z":"e6097cee.8df04","name":"TOTAIS","func":"if (msg.payload.length > 0) {\n    msg.pedido = msg.payload[0];\n    msg.payload = \n    \"DECLARE @PEDIDO INT \" +\n    \"SET @PEDIDO = \" + (msg.pedido.numero || 'NULL') + \" \" +\n    \"SELECT \" +\n    \"\tLPV1.produtos, \" + \n    \"\tLPV1.ipi, \" +\n    \"\tLPV1.total \" +\n    \"FROM \" +\n    \"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n    \"   LEFT OUTER JOIN \" +\n    \"   (SELECT \" +\n    \"    \tLPPED, \" + \n    \"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n    \"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n    \"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n    \"\tFROM \" +\n    \"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n    \"\tGROUP BY \" +\n    \"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n    \"WHERE \" +\n    \"   LPV.LPPED = @PEDIDO\"\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":2040,"wires":[["515f361c.8ca778"]]},{"id":"515f361c.8ca778","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":690,"y":2100,"wires":[["1107df02.bc2bd1"]]},{"id":"1f3ea758.ce5e79","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"true","complete":"payload","x":900,"y":2720,"wires":[]},{"id":"2c353ebd.cbe782","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return msg;\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return msg;\n    } \n}\n","outputs":"1","noerr":0,"x":680,"y":1680,"wires":[["83eaab0a.a1e318","85b15251.2f1a8"]]},{"id":"83eaab0a.a1e318","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"true","complete":"payload","x":880,"y":1675,"wires":[]},{"id":"1bfc5094.f2f7ff","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":690,"y":1800,"wires":[["17db9d0a.2402f3","ba2f6883.681488"]]},{"id":"17db9d0a.2402f3","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":880,"y":1800,"wires":[]},{"id":"ba2f6883.681488","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [msg, null]; // ALTERACAO NO PEDIDO\n} else {\n    return [null, msg]; // NOVO PEDIDO\n} ","outputs":"2","noerr":0,"x":690,"y":1860,"wires":[["645d7b80.477ff4"],["629c415c.dfdf5","99ac45dc.d77b08"]]},{"id":"645d7b80.477ff4","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"true","complete":"payload","x":1060,"y":1840,"wires":[]},{"id":"85b15251.2f1a8","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.payload || 'NULL') + \" \" +\n\"SELECT * \" +\n\"FROM \" +\n\"\tFINANCEIRO.dbo.PED WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   numero = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1740,"wires":[["1bfc5094.f2f7ff","503a31a6.9442e"]]},{"id":"88813f36.7fce6","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return msg;\n}","outputs":"1","noerr":0,"x":690,"y":1620,"wires":[["2c353ebd.cbe782","ab675491.a15668"]]},{"id":"ab675491.a15668","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"true","complete":"payload","x":880,"y":1620,"wires":[]},{"id":"503a31a6.9442e","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":880,"y":1740,"wires":[]},{"id":"1f7c3d00.65f7e3","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"true","complete":"payload","x":880,"y":1920,"wires":[]},{"id":"629c415c.dfdf5","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"true","complete":"payload","x":880,"y":1880,"wires":[]},{"id":"3fc2bdf1.352502","type":"function","z":"e6097cee.8df04","name":"INSERE","func":"msg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao.toLocaleString() || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega.toLocaleString() || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"DECLARE @TRANS_NAME NVARCHAR(10) \" +\n\"SET @TRANS_NAME = 'TRANS_PEDIDO_' + CAST(@NUMERO AS NVARCHAR(10)) \" + \n\n\"/*BEGIN TRANSACTION @TRANS_NAME*/ \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \" +\n\"SELECT * FROM [FINANCEIRO].[dbo].[PED] WHERE NUMERO = @NUMERO \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2140,"wires":[["f1de01d0.a3de","6cf9ca8e.7c1604"]]},{"id":"f1de01d0.a3de","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1090,"y":2200,"wires":[["26383cb3.11c434","e53b3bf7.7938e8"]]},{"id":"6cf9ca8e.7c1604","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1260,"y":2140,"wires":[]},{"id":"26383cb3.11c434","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" + (\"'\" + msg.pedido.numero + \"'\" || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \" +\n\"SELECT * FROM [FINANCEIRO].[dbo].[CLI] WHERE cnpj = @CNPJ\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2260,"wires":[["4b7b5158.40d5c","458623c.c2166dc"]]},{"id":"4b7b5158.40d5c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1090,"y":2320,"wires":[["21a436f.7f680ca","9b7b5890.b8bcf8"]]},{"id":"458623c.c2166dc","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1260,"y":2260,"wires":[]},{"id":"21a436f.7f680ca","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":2380,"wires":[["504d71d1.762e2","49650b6f.f068b4"]]},{"id":"49650b6f.f068b4","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1260,"y":2380,"wires":[]},{"id":"504d71d1.762e2","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1090,"y":2440,"wires":[["ba79d226.f54a9"]]},{"id":"7a1adedc.8e89b","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto.toLocaleString() + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":2480,"wires":[["7319078e.8a02f8","1a4249bf.e356a6"]]},{"id":"7319078e.8a02f8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1250,"y":2580,"wires":[["7c3ce796.5823e8"]]},{"id":"1a4249bf.e356a6","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1400,"y":2480,"wires":[]},{"id":"7c3ce796.5823e8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1080,"y":2520,"wires":[["7a1adedc.8e89b"],["ba79d226.f54a9"]]},{"id":"363fa429.c5a68c","type":"function","z":"e6097cee.8df04","name":"PEDIDO OK","func":"msg.pedido.parcelas = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2520,"wires":[["3fc2bdf1.352502","7fe8cb85.d2d964"]]},{"id":"7fe8cb85.d2d964","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"pedido","x":880,"y":2520,"wires":[]},{"id":"fb8078a8.d1a048","type":"comment","z":"e6097cee.8df04","name":"TAREFAS DE TESTE","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":190,"y":1660,"wires":[]},{"id":"d16f5973.9490a8","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":2720,"wires":[["233c46b.1ea2bba"]]},{"id":"233c46b.1ea2bba","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":1350,"y":2720,"wires":[["2c353ebd.cbe782"]]},{"id":"88efb743.bee858","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":690,"y":2720,"wires":[["e2d28d5f.a875e","1f3ea758.ce5e79","b04c28bc.b0f558"]]},{"id":"60ee2223.35181c","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":920,"y":2780,"wires":[]},{"id":"90e38190.a17af","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":930,"y":2840,"wires":[]},{"id":"e2d28d5f.a875e","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.topic = '/tarefas/nova/' // + msg.task.id\nmsg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2780,"wires":[["90e38190.a17af","60ee2223.35181c"]]},{"id":"b04c28bc.b0f558","type":"function","z":"e6097cee.8df04","name":"COMMIT","func":"\nmsg.payload = \n\"DECLARE @NUMERO INT \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\n\"DECLARE @TRANS_NAME NVARCHAR(10) \" +\n\"SET @TRANS_NAME = 'TRANS_PEDIDO_' + CAST(@NUMERO AS NVARCHAR(10)) \" + \n\n\"IF (@@TRANCOUNT > 0) \" +\n\"   COMMIT TRANSACTION @TRANS_NAME\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":2640,"wires":[["7789e678.6fba28"]]},{"id":"7789e678.6fba28","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1250,"y":2640,"wires":[["d16f5973.9490a8"]]},{"id":"e53b3bf7.7938e8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1260,"y":2200,"wires":[]},{"id":"bc11af63.f2fbe","type":"function","z":"e6097cee.8df04","name":"ROLLBACK","func":"msg.payload = \n\n\"DECLARE @NUMERO INT \" +\n\n\"SET @NUMERO = CAST(\" + (msg.payload || 'NULL') + \" AS INT) \" +\n\n\"DECLARE @TRANS_NAME NVARCHAR(10) \" +\n\"SET @TRANS_NAME = 'TRANS_PEDIDO_' + CAST(@NUMERO AS NVARCHAR(10)) \" + \n\"ROLLBACK TRANSACTION @TRANS_NAME\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1500,"wires":[["bf8c3bd8.a45668"]]},{"id":"bf8c3bd8.a45668","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1430,"y":1500,"wires":[[]]},{"id":"8bd7c2ef.d872e","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"63867","payloadType":"num","repeat":"","crontab":"","once":false,"x":1060,"y":1500,"wires":[["bc11af63.f2fbe"]]},{"id":"9b7b5890.b8bcf8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1260,"y":2320,"wires":[]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"FINANCEIRO","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]