src/financeiro.json
[{"id":"8ef917d3.3cef48","type":"subflow","name":"tarefa++","info":"","in":[{"x":60,"y":60,"wires":[{"id":"47d12897.372508"}]}],"out":[{"x":740,"y":100,"wires":[{"id":"e58ed875.499398","port":0}]}]},{"id":"47d12897.372508","type":"function","z":"8ef917d3.3cef48","name":"TAREFA","func":"\nmsg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR tarefa_seq \" +\n\"INSERT INTO tarefas \" +\n\"   (id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n\"   documento, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   '\" + msg.payload.nome + \"', \" +\n\"   '\" + msg.payload.titulo + \"', \" +\n\"   '\" + msg.payload.descricao + \"', \" +\n\"   '\" + msg.payload.documento + \"', \" + \n\"   '\" + msg.payload.atribuir + \"', \" +\n\"   '\" + msg.payload.form + \"', \" +\n\"   NULL, \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL);\" +\n\n\"SELECT \" +\n\"   id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n//\"   conteudo, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido \" +\n\"FROM tarefas \" + \n\"WHERE id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["97665592.9030b8"]]},{"id":"97665592.9030b8","type":"MSSQL","z":"8ef917d3.3cef48","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":400,"y":60,"wires":[["e58ed875.499398"]]},{"id":"41fd3e25.b0afb","type":"mqtt out","z":"8ef917d3.3cef48","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":770,"y":40,"wires":[]},{"id":"e58ed875.499398","type":"function","z":"8ef917d3.3cef48","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["41fd3e25.b0afb"]]},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"financeiro","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"da776718.535328","type":"subflow","name":"pedido","info":"","in":[{"x":60,"y":80,"wires":[{"id":"d39200c0.b4071"}]}],"out":[{"x":400,"y":200,"wires":[{"id":"34e51486.f969fc","port":0}]},{"x":400,"y":740,"wires":[{"id":"d1c2bc76.ccbfb","port":0}]}]},{"id":"bc631c2f.dca3d","type":"MSSQL","z":"da776718.535328","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":680,"wires":[["d1c2bc76.ccbfb"]]},{"id":"1282d890.5f5317","type":"function","z":"da776718.535328","name":"PARCELAS","func":"msg.local.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n//\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   'VENDA' AS origem, \" +\n\"   'COBRANCA' AS forma_pagto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo_vencto, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n//\"   CACPG1.CCPg1Por AS porcentagem, \" +\n//\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.local.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["bc631c2f.dca3d"]]},{"id":"ca161acc.dc84f8","type":"MSSQL","z":"da776718.535328","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":140,"wires":[["34e51486.f969fc"]]},{"id":"d39200c0.b4071","type":"function","z":"da776718.535328","name":"PEDIDO","func":"msg.params = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.params || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"   LPV.LPENT                   AS emissao, \" +\n\"\tLPV.Lp0SaiRed               AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["ca161acc.dc84f8"]]},{"id":"1de2ea95.e9f645","type":"function","z":"da776718.535328","name":"CLIENTE","func":"msg.local.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.local.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC))                               AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS))                               AS inscricao, \" +\n\"\tREPLACE(LTRIM(RTRIM(CACLI.CCFAN)), '''', '')            AS fantasia, \" +\n\"\tREPLACE(LTRIM(RTRIM(CACLI.CCNOM)), '''', '')            AS nome, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCLogTip0CodC)), '''', '')    AS logradouro, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCEN)), '''', '')            AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum))                            AS numero, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCENCpl)), '''', '')         AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA))                               AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD                                      AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI))                               AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP))                              AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES))                               AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5))                               AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3))                              AS telefone, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCO1)), '''', '')            AS contato, \" +\n\"   LTRIM(RTRIM(CACLI.CCCL))                                AS conta_contabil \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["8766e876.db2d98"]]},{"id":"8766e876.db2d98","type":"MSSQL","z":"da776718.535328","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":440,"wires":[["3d76d7aa.a56e28"]]},{"id":"3d76d7aa.a56e28","type":"function","z":"da776718.535328","name":"REPRESENTANTE","func":"msg.local.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.local.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["bbbabcec.d892e"]]},{"id":"bbbabcec.d892e","type":"MSSQL","z":"da776718.535328","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":560,"wires":[["1282d890.5f5317"]]},{"id":"d9994745.21b908","type":"function","z":"da776718.535328","name":"TOTAIS","func":"msg.local = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.local.numero || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLPV1.produtos, \" + \n\"\tLPV1.ipi, \" +\n\"\tLPV1.total \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["f0872a5d.d6e108"]]},{"id":"f0872a5d.d6e108","type":"MSSQL","z":"da776718.535328","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":320,"wires":[["1de2ea95.e9f645"]]},{"id":"d1c2bc76.ccbfb","type":"function","z":"da776718.535328","name":"RETURN","func":"msg.local.parcelas = msg.payload;\n\nmsg.payload = msg.local;\n\n//delete msg.local;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":740,"wires":[[]]},{"id":"34e51486.f969fc","type":"function","z":"da776718.535328","name":"EXISTE ?","func":"if (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    msg.payload = 'PEDIDO NÃO ENCONTRADO: ' + msg.params;\n    return [msg, null]; // NAO EXISTE\n} else {\n    msg.payload = msg.payload[0];\n    return [null, msg]; // ENCONTRADO\n} ","outputs":"2","noerr":0,"x":260,"y":200,"wires":[[],["d9994745.21b908"]]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"93303209.ee2b","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro","method":"get","swaggerDoc":"","x":140,"y":420,"wires":[["cbe0256d.84add8"]]},{"id":"aa083202.1416","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":420,"wires":[]},{"id":"c0d031d2.07759","type":"comment","z":"e6097cee.8df04","name":"Financeiro","info":"Nova versão usando ReactJS e Material-UI","x":120,"y":380,"wires":[]},{"id":"ce2f823.01df08","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/static/:folder/:file","method":"get","swaggerDoc":"","x":190,"y":500,"wires":[["bef6192b.b4f178"]]},{"id":"a1ebd125.4ca94","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":500,"wires":[]},{"id":"bef6192b.b4f178","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["d4e2f328.e10bb"]]},{"id":"cbe0256d.84add8","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\index.html","format":"utf8","x":480,"y":420,"wires":[["aa083202.1416"]]},{"id":"d4e2f328.e10bb","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":590,"y":500,"wires":[["baa56b64.2fc918"]]},{"id":"baa56b64.2fc918","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":500,"wires":[["a1ebd125.4ca94"]]},{"id":"6f7c6eea.ba148","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/favicon.ico","method":"get","swaggerDoc":"","x":170,"y":460,"wires":[["84dd209e.93c37"]]},{"id":"84dd209e.93c37","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\favicon.ico","format":"utf8","x":480,"y":460,"wires":[["890fd83a.72e8b8"]]},{"id":"eecd704d.87544","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":460,"wires":[]},{"id":"890fd83a.72e8b8","type":"function","z":"e6097cee.8df04","name":"image/x-icon","func":"msg.headers = { \"Content-type\" : \"image/x-icon\" }\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":460,"wires":[["eecd704d.87544"]]},{"id":"69bba89a.20d418","type":"http in","z":"e6097cee.8df04","name":"","url":"/static/:folder/:file","method":"get","swaggerDoc":"","x":160,"y":540,"wires":[["cc7794e5.262878"]]},{"id":"cc7794e5.262878","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[["f30b2f16.a55de"]]},{"id":"f30b2f16.a55de","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":590,"y":540,"wires":[["b04bff27.eb89f"]]},{"id":"2b5aa957.08bd26","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":540,"wires":[]},{"id":"b04bff27.eb89f","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":540,"wires":[["2b5aa957.08bd26"]]},{"id":"2a41badf.bd5766","type":"http in","z":"e6097cee.8df04","name":"busca","url":"/api/financeiro/duplicata/emissao/busca","method":"get","swaggerDoc":"","x":110,"y":620,"wires":[["532ac17e.8f755"]]},{"id":"532ac17e.8f755","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n\"DECLARE @PEDIDO INT\\n\" +\n\"DECLARE @CNPJ NVARCHAR(14)\\n\" +\n\"DECLARE @NOME NVARCHAR(100)\\n\" +\n\"SET @PEDIDO = \" + (msg.req.query.pedido || 'NULL') + \"\\n\" +\n\"SET @CNPJ = \" + (\"'\" + msg.req.query.cnpj + \"'\" || 'NULL') + \"\\n\" +\n\"SET @NOME = \" + (\"'\" + msg.req.query.nome + \"'\" || 'NULL') + \"\\n\" +\n\"SELECT top 10 \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP)) AS empresa, \\n\" +\n\"\tCAST(LPV.LPPED AS INT) AS pedido, \\n\" +\n\"\tCAST(LPV.LPENT AS DATE) AS emissao, \\n\" +\n\"\tLPV.Lp0SaiRed AS entrega, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome \\n\" +\n\"FROM \\n\" +\n\"\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN \\n\" +\n\"   GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC \\n\" +\n\"WHERE \\n\" +\n\"   (@PEDIDO IS NULL OR LPV.LPPED LIKE '%' + CAST(@PEDIDO AS NVARCHAR(10)) + '%') AND \\n\" +\n\"   (@CNPJ IS NULL OR CACLI.CCCGC LIKE '%' + @CNPJ + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCFAN LIKE '%' + @NOME + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCNOM LIKE '%' + @NOME + '%') \\n\" +\n\"ORDER BY \\n\" +\n\"   LPV.LPPED DESC\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[["2dbd701f.2aa36"]]},{"id":"6ef6407e.f5c61","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":620,"wires":[]},{"id":"2dbd701f.2aa36","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":760,"y":620,"wires":[["6ef6407e.f5c61"]]},{"id":"60be9a9e.e5c164","type":"http in","z":"e6097cee.8df04","name":"lancamento","url":"/api/financeiro/recebiveis/lancamento/tarefa/:tarefa","method":"post","swaggerDoc":"","x":130,"y":860,"wires":[["54c2cf15.e655f"]]},{"id":"54c2cf15.e655f","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var tarefa = \n{\n    nome: 'Cobrança Bancária',\n    titulo: 'Gerar Remessa de Cobrança',\n    descricao: '', //'Cobrança e Antecipação de Recebíveis',\n    documento: JSON.stringify(msg.payload.documento),\n    atribuir: 'financeiro',\n    form: '/recebiveis/cobranca/'\n}\n\nmsg.payload = \n    \"SET NOCOUNT ON \" + '\\n' + '\\n' +\n    \n    \"------------------------------------- DECLARACAO DE VARIAVEIS ----------------------------------------------\" + '\\n' +\n    \"DECLARE @NOSSO_NUMERO INT \" + '\\n' +\n\n    \"DECLARE @CONTA_CONTABIL VARCHAR(20) \" + '\\n' +\n    \"DECLARE @CNPJ VARCHAR(20) \" + '\\n' +\n    \"DECLARE @INSCRICAO VARCHAR(12) \" + '\\n' +\n    \"DECLARE @FANTASIA VARCHAR(30) \" + '\\n' +\n    \"DECLARE @NOME VARCHAR(100) \" + '\\n' +\n    \"DECLARE @LOGRADOURO VARCHAR(5) \" + '\\n' +\n    \"DECLARE @ENDERECO VARCHAR(50) \" + '\\n' +\n    \"DECLARE @NUMERO VARCHAR(10) \" + '\\n' +\n    \"DECLARE @COMPLEMENTO VARCHAR(20) \" + '\\n' +\n    \"DECLARE @BAIRRO VARCHAR(30) \" + '\\n' +\n    \"DECLARE @MUNICIPIO INT \" + '\\n' +\n    \"DECLARE @CIDADE VARCHAR(20) \" + '\\n' +\n    \"DECLARE @CEP CHAR(9) \" + '\\n' +\n    \"DECLARE @UF CHAR(2)\" + '\\n' +\n    \"DECLARE @DDD VARCHAR(3) \" + '\\n' +\n    \"DECLARE @TELEFONE VARCHAR(15) \" + '\\n' +\n    \"DECLARE @CONTATO VARCHAR(20) \" + '\\n' +\n    \n    \"DECLARE @PARCELA INT \" + '\\n' +\n    \"DECLARE @FORMA_PAGTO VARCHAR(10) \" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3) \" + '\\n' +\n    \"DECLARE @VENCTO DATE \" + '\\n' +\n    \"DECLARE @PRAZO INT \" + '\\n' +\n    \"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" + '\\n' +\n    \"DECLARE @VALOR MONEY \" + '\\n' +\n    \"DECLARE @DESCRICAO VARCHAR(50) \" + '\\n' +\n    \"DECLARE @ORIGEM VARCHAR(10) \" + '\\n' +\n\n    \"DECLARE @TAREFA_ATUAL INT \" + '\\n' +\n    \"DECLARE @VERSAO INT \" + '\\n' + '\\n' +\n\n    \"--------------------------------------------------- INICIO DA TRANSACAO --------------------------------------------------\" + '\\n' +\n    \"BEGIN TRY \" + '\\n' +\n    \"   BEGIN TRANSACTION \" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT) \" + '\\n' +\n\n    \"   UPDATE tarefas SET \" + '\\n' +\n    \"\t    concluido = GETDATE() \" + '\\n' +\n    \"   WHERE \" + '\\n' +\n    \"      id = @TAREFA_ATUAL \" + '\\n' +\n    \"      AND versao = @VERSAO\" +  '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1 \" + '\\n' +\n    \"   BEGIN \" + '\\n' +\n    \"      SELECT 7450 AS erro, 'A tarefa não pode ser atualizada porque foi alterada por outro usuário do sistema enquanto estava sendo editada por você. Abra novamente a tela para obter a versão mais atual dos dados com as alterações.' AS mensagem \" +\n    \"      ROLLBACK TRANSACTION \" + '\\n' +\n    \"      RETURN; \" + '\\n' +\n    \"   END \" + '\\n' +\n\n    (msg.payload.documento.parcelas.find( parcela => parcela.forma_pagto === 'COBRANCA') ?\n        \n        \"   DECLARE @NOVA_TAREFA INT \" + '\\n' +\n        \"   SET @NOVA_TAREFA = (SELECT TOP 1 ID FROM tarefas WHERE nome = '\" + tarefa.nome + \"' AND concluido IS NULL) \" + '\\n' +\n        \"   IF @NOVA_TAREFA IS NULL \" + '\\n' +\n        \"   BEGIN \" + '\\n' +\n            \"   SET @NOVA_TAREFA = NEXT VALUE FOR tarefa_seq \" + '\\n' +\n            \"   INSERT INTO tarefas \" + '\\n' +\n            \"      (id, \" + '\\n' +\n            \"      nome, \" + '\\n' +\n            \"      titulo, \" + '\\n' +\n            \"      descricao, \" + '\\n' +\n            \"      documento, \" + '\\n' +\n            \"      atribuir, \" + '\\n' +\n            \"      form, \" + '\\n' +\n            \"      parametros, \" + '\\n' +\n            \"      prazo, \" + '\\n' +\n            \"      criado, \" + '\\n' +\n            \"      concluido) \" + '\\n' +\n            \"   VALUES \" +\n            \"      (@NOVA_TAREFA, \" + '\\n' +\n            \"      '\" + tarefa.nome + \"', \" + '\\n' +\n            \"      '\" + tarefa.titulo + \"', \" + '\\n' +\n            \"      '\" + tarefa.descricao + \"', \" + '\\n' +\n            \"      '[\" + tarefa.documento + \"]', \" +  '\\n' +\n            \"      '\" + tarefa.atribuir + \"', \" + '\\n' +\n            \"      '\" + tarefa.form + \"', \" + '\\n' +\n            \"      NULL, \" + '\\n' +\n            \"      NULL, \" + '\\n' +\n            \"      GETDATE(), \" + '\\n' +\n            \"      NULL); \" + '\\n' +\n        \"   END \" + '\\n' +\n        \"   ELSE \" + '\\n' +\n        \"   BEGIN \" + '\\n' +\n        \"   \tUPDATE tarefas \" + '\\n' +\n        \"      SET documento = STUFF(documento, LEN(documento), 1, ',\" + tarefa.documento + \"' + ']') \" + '\\n' +\n        \"      WHERE \" + '\\n' +\n        \"          id = @TAREFA_ATUAL \" + '\\n' +\n        \"          AND versao = @VERSAO\" +  '\\n' +\n    \n        \"      IF @@ROWCOUNT != 1 \" + '\\n' +\n        \"      BEGIN \" + '\\n' +\n        \"          SELECT 7450 AS erro, 'A tarefa não pode ser atualizada porque foi alterada por outro usuário do sistema enquanto estava sendo editada por você. Abra novamente a tela para obter a versão mais atual dos dados com as alterações.' AS mensagem \" + '\\n' +\n        \"          ROLLBACK TRANSACTION \" + '\\n' +\n        \"          RETURN; \" + '\\n' +\n        \"      END \" + '\\n' +\n        \n        \"   END \" + '\\n' +\n\n        \"   DECLARE @NOVA_NAV INT \" + '\\n' +\n        \"   SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq \" + '\\n' +\n        \"   INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @NOVA_TAREFA); \" + '\\n' +\n\n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @TAREFA_ATUAL \" + '\\n' +\n        \"   UNION \" + '\\n' +\n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @NOVA_TAREFA \"\n    \n    :\n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @TAREFA_ATUAL \"\n    ) + '\\n' +\n    \n\n    \"------------------------------------ VALIDACAO DE DADOS ----------------------------------------------\" + '\\n' +\n\n    \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.documento.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" + '\\n' +\n    \"   IF EXISTS(SELECT NOSSO_NUMERO FROM RCBV WHERE nosso_numero = @NOSSO_NUMERO) \" + '\\n' +\n    \"   BEGIN \" + '\\n' +\n    \"       SELECT 1234 AS erro, 'Já existe um lançamento com o mesmo valor do campo ''Nosso Numero''. Para resolver o problema clique no botão ao lado do campo para carregar o próximo número disponível.' AS mensagem \" + '\\n' +\n    \"       RETURN; \" + '\\n' +\n    \"   END \" + '\\n' + '\\n' +\n\n    \"   ----------------------------------------- ATRIBUICAO DE VALORES DE PARAMETROS --------------------------------------------\" + '\\n' +\n    \"   SET @CONTA_CONTABIL = CAST('\" + msg.payload.documento.cliente.conta_contabil + \"'                      AS VARCHAR(20)) \" + '\\n' +\n    \"   SET @CNPJ = CAST(\" +           (\"'\" + msg.payload.documento.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n    \"   SET @INSCRICAO = CAST(\" +      (\"'\" + msg.payload.documento.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" + '\\n' +\n    \"   SET @FANTASIA = CAST(\" +       (\"'\" + msg.payload.documento.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" + '\\n' +\n    \"   SET @NOME = CAST(\" +           (\"'\" + msg.payload.documento.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" + '\\n' +\n    \"   SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.payload.documento.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" + '\\n' +\n    \"   SET @ENDERECO = CAST(\" +       (\"'\" + msg.payload.documento.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" + '\\n' +\n    \"   SET @NUMERO = CAST(\" +         (\"'\" + msg.payload.documento.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' +\n    \"   SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.payload.documento.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n    \"   SET @BAIRRO = CAST(\" +         (\"'\" + msg.payload.documento.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" + '\\n' +\n    \"   SET @MUNICIPIO = CAST(\" +      (msg.payload.documento.cliente.municipio                   || \"NULL\") + \" AS INT) \" + '\\n' +\n    \"   SET @CIDADE = CAST(\" +         (\"'\" + msg.payload.documento.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n    \"   SET @CEP = CAST(\" +            (\"'\" + msg.payload.documento.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" + '\\n' +\n    \"   SET @UF = CAST(\" +             (\"'\" + msg.payload.documento.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" + '\\n' +\n    \"   SET @DDD = CAST(\" +            (\"'\" + msg.payload.documento.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" + '\\n' +\n    \"   SET @TELEFONE = CAST(\" +       (\"'\" + msg.payload.documento.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" + '\\n' +\n    \"   SET @CONTATO = CAST(\" +        (\"'\" + msg.payload.documento.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' + '\\n' +\n\n\n    \"   INSERT INTO RCBV (nosso_numero, conta_contabil, cnpj, inscricao, fantasia, nome, logradouro, endereco, numero, complemento, bairro, municipio, cidade, cep, uf, ddd, telefone, contato) \" + '\\n' +\n    \"   VALUES (@NOSSO_NUMERO, @CONTA_CONTABIL, @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO); \" + '\\n' +\n\n    \"   DECLARE @PEDIDO_NUMERO INT \" + '\\n' +\n    \"   SET @PEDIDO_NUMERO = CAST(\" +   (\"'\" + msg.payload.documento.numero + \"'\"   || \"NULL\") + \" AS INT) \" + '\\n' +\n    \"   INSERT INTO RCBV_PED (nosso_numero, numero) VALUES (@NOSSO_NUMERO, @PEDIDO_NUMERO)\" + '\\n' +\n    \n    msg.payload.documento.parcelas.reduce ( (sql, parcela) =>\n        \n        sql + \n        //\" SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.documento.nosso_numero || msg.payload.documento.numero) + \"'\"   || \"NULL\") + \" AS INT) \" + '\\n' +\n        \"   SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"        || \"NULL\") + \" AS INT) \" + '\\n' +\n        \"   SET @FORMA_PAGTO = CAST(\" +    (\"'\" + parcela.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' +\n        \"   SET @TIPO_VENCTO = CAST(\" +    (\"'\" + parcela.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3)) \" + '\\n' +\n        \"   SET @VENCTO = CAST(\" +         (\"'\" + parcela.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" + '\\n' +\n        \"   SET @PRAZO = CAST(\" +          (\"'\" + parcela.prazo + \"'\"          || \"NULL\") + \" AS INT) \" + '\\n' +\n        \"   SET @VALOR = CAST(\" +          (\"'\" + parcela.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" + '\\n' +\n        \"   SET @ORIGEM = CAST(\" +         (\"'\" + parcela.origem + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' +\n        \n        \"   INSERT INTO RCBVD (NOSSO_NUMERO, PARCELA, FORMA_PAGTO, TIPO_VENCTO, VENCTO, PRAZO, VALOR, ORIGEM) \" + '\\n' +\n        \"   VALUES (@NOSSO_NUMERO, @PARCELA, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ORIGEM); \" + '\\n'\n        \n    , '') + '\\n' + '\\n' +\n\n\n    \"   COMMIT TRANSACTION; \" + '\\n' + '\\n' +\n\n    \"END TRY \" + '\\n' +\n    \"BEGIN CATCH \" + '\\n' +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem \" + '\\n' +\n    \"   IF @@TRANCOUNT > 0 \" + '\\n' +\n    \"       ROLLBACK TRANSACTION \" + '\\n' +\n    \"END CATCH \" + '\\n'\n    //\"IF @@TRANCOUNT > 0 \" + '\\n' +\n    \n/*\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.msg.payload.documento.numero + \"'\"         || \"NULL\") + \" AS INT) \" \n*/\n\n/*\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n*/\n\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":860,"wires":[["26676b8a.393324","c68682c4.5a9c4"]]},{"id":"312c4278.681bee","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":580,"y":860,"wires":[["7ef68302.28b23c"]]},{"id":"4951732f.f9bd4c","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/cobranca/concluir/:tarefa","method":"post","swaggerDoc":"","x":300,"y":2860,"wires":[["fdc27142.869bd","9b4a7cff.aa6af"]]},{"id":"88652451.f1d378","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar remessas = msg.pedido.cobrancas.filter( cobranca => !cobranca.carteira && cobranca.selected ).map( cobranca => {\n    cobranca.carteira = msg.pedido.carteira;\n    cobranca.envio = new Date().toISOString();\n    return cobranca;\n}); // deep clone\n\nmsg.pedido.remessas = JSON.parse(JSON.stringify(remessas)).map( remessa => {\n    remessa.envio = null;\n    remessa.selected = false;\n    return remessa;\n});\n\nif (msg.pedido.cobrancas.find( cob => !cob.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Envio de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'rita', \" +\n            \"   '/duplicata/cobranca/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Remessa de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE id = @ID;\"  \n\nreturn msg;","outputs":"1","noerr":0,"x":210,"y":3400,"wires":[["23b93b70.079bb4"]]},{"id":"718dde73.1dee5","type":"http response","z":"e6097cee.8df04","name":"","x":520,"y":3400,"wires":[]},{"id":"23b93b70.079bb4","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":350,"y":3400,"wires":[["718dde73.1dee5","7b84f1cc.f8562","dbad036.fc1b9"]]},{"id":"8b7b69bc.f07fd8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":620,"y":3500,"wires":[]},{"id":"7b84f1cc.f8562","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":3460,"wires":[["8b7b69bc.f07fd8","e06c6225.2ef94"]]},{"id":"e06c6225.2ef94","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":630,"y":3460,"wires":[]},{"id":"fdc27142.869bd","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":210,"y":2900,"wires":[]},{"id":"9b4a7cff.aa6af","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":2960,"wires":[["879a5f29.696a5","bc7dca3b.883f88"]]},{"id":"879a5f29.696a5","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":380,"y":2960,"wires":[]},{"id":"d31a6438.c60be8","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3300,"wires":[["9eff8fd.f76ff7","ec36ad4e.e58de"]]},{"id":"9eff8fd.f76ff7","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":510,"y":3360,"wires":[["3ff06943.ae7856"]]},{"id":"ec36ad4e.e58de","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":520,"y":3300,"wires":[]},{"id":"3ff06943.ae7856","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":200,"y":3340,"wires":[["d31a6438.c60be8"],["88652451.f1d378"]]},{"id":"1d789a13.578126","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":350,"y":3620,"wires":[["12ae0e3b.945722","3915529.ddd04ae"]]},{"id":"ea4a04e8.b79a88","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":580,"y":3680,"wires":[]},{"id":"dbad036.fc1b9","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":3560,"wires":[["1d789a13.578126"]]},{"id":"26fa6812.1647b8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":570,"y":3620,"wires":[]},{"id":"12ae0e3b.945722","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3680,"wires":[["26fa6812.1647b8","ea4a04e8.b79a88"]]},{"id":"e714c100.95187","type":"http in","z":"e6097cee.8df04","name":"carteira","url":"/api/financeiro/carteira","method":"get","swaggerDoc":"","x":110,"y":260,"wires":[["6d99e77e.e79708"]]},{"id":"fd576ca2.f0b3f","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":260,"wires":[]},{"id":"9fb727f0.568c08","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":260,"wires":[["fd576ca2.f0b3f"]]},{"id":"6d99e77e.e79708","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \n\n\"SELECT * FROM FINANCEIRO.dbo.CRT\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["9fb727f0.568c08"]]},{"id":"2c6dbcc4.30b214","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":350,"y":3800,"wires":[["df09c4d.4a14b38"]]},{"id":"40cd130e.8de1ac","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":580,"y":3860,"wires":[]},{"id":"3915529.ddd04ae","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":3740,"wires":[["2c6dbcc4.30b214"]]},{"id":"d28dddd9.92d36","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":570,"y":3800,"wires":[]},{"id":"df09c4d.4a14b38","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3860,"wires":[["d28dddd9.92d36","40cd130e.8de1ac"]]},{"id":"1d36bc3d.211274","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/remessa/concluir/:tarefa","method":"post","swaggerDoc":"","x":940,"y":2860,"wires":[["2d08127a.1b37ce","65e2750f.524dec"]]},{"id":"d8bb488e.aa1888","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar retornos = JSON.parse(JSON.stringify(msg.pedido.remessas.filter( remessa => !remessa.carteira && remessa.selected ).map( remessa => {\n    remessa.envio = new Date().toISOString();\n}))); // deep clone\n\nmsg.pedido.retornos = retornos.map( ret => {\n    ret.retorno = null;\n    ret.selected = false;\n    return ret;\n})\n\nif (msg.pedido.remessas.find( r => !r.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Remessa de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'marisa', \" +\n            \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Retorno de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/retorno/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE ID = @ID;\"\n\n\nreturn msg;","outputs":"1","noerr":0,"x":850,"y":3400,"wires":[["aa98c71e.9fd8c8"]]},{"id":"aef34ddf.13601","type":"http response","z":"e6097cee.8df04","name":"","x":1160,"y":3400,"wires":[]},{"id":"aa98c71e.9fd8c8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1010,"y":3400,"wires":[["aef34ddf.13601","ed105ec2.aa3d5","6bf87aad.9a9d24"]]},{"id":"fb8fca07.d82ff8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1260,"y":3500,"wires":[]},{"id":"ed105ec2.aa3d5","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":3460,"wires":[["fb8fca07.d82ff8","5cb82ceb.66ac54"]]},{"id":"5cb82ceb.66ac54","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":1270,"y":3460,"wires":[]},{"id":"2d08127a.1b37ce","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":880,"y":2900,"wires":[]},{"id":"65e2750f.524dec","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2960,"wires":[["6f8c7874.abe118","ebb583ba.838e9"]]},{"id":"6f8c7874.abe118","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":850,"y":3020,"wires":[["be0f9c83.e3cbe"]]},{"id":"ebb583ba.838e9","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1020,"y":2960,"wires":[]},{"id":"be0f9c83.e3cbe","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":3080,"wires":[["5afec2f2.2556ac","b2512bf1.af08b8"]]},{"id":"5afec2f2.2556ac","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":850,"y":3140,"wires":[["6f603854.cfd8d8"]]},{"id":"b2512bf1.af08b8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1020,"y":3080,"wires":[]},{"id":"6f603854.cfd8d8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":3200,"wires":[["e8bf4c95.1c02f","e0ab054d.1555d8"]]},{"id":"e0ab054d.1555d8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1020,"y":3200,"wires":[]},{"id":"e8bf4c95.1c02f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":850,"y":3260,"wires":[["eca8371b.ffbcd8"]]},{"id":"4d944b4b.3c7c24","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":3300,"wires":[["e003dacb.972568","26753cd4.8af5e4"]]},{"id":"e003dacb.972568","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1150,"y":3360,"wires":[["eca8371b.ffbcd8"]]},{"id":"26753cd4.8af5e4","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1160,"y":3300,"wires":[]},{"id":"eca8371b.ffbcd8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":840,"y":3340,"wires":[["4d944b4b.3c7c24"],["d8bb488e.aa1888"]]},{"id":"9a497fb0.5ac03","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":990,"y":3620,"wires":[["d8224fab.a987a","5a1e3249.78c21c"]]},{"id":"6b20ec87.b0b834","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1220,"y":3680,"wires":[]},{"id":"6bf87aad.9a9d24","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":980,"y":3560,"wires":[["9a497fb0.5ac03"]]},{"id":"ac57364c.454b98","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1210,"y":3620,"wires":[]},{"id":"d8224fab.a987a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3680,"wires":[["ac57364c.454b98","6b20ec87.b0b834"]]},{"id":"d51c6292.21d67","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":990,"y":3800,"wires":[["336ba990.137ed6"]]},{"id":"696ff4f.5c8380c","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1220,"y":3860,"wires":[]},{"id":"5a1e3249.78c21c","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":980,"y":3740,"wires":[["d51c6292.21d67"]]},{"id":"d2e1e303.5067d","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1210,"y":3800,"wires":[]},{"id":"336ba990.137ed6","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3860,"wires":[["d2e1e303.5067d","696ff4f.5c8380c"]]},{"id":"28d0b350.2af9bc","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/retorno/concluir/:tarefa","method":"post","swaggerDoc":"","x":1580,"y":2860,"wires":[["2a12d6e.984b62a","3a8ed708.647b58"]]},{"id":"3c135e6f.9ea4d2","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nreturn msg;","outputs":"1","noerr":0,"x":1490,"y":3400,"wires":[["263b6208.e37d2e"]]},{"id":"6233ca62.39a584","type":"http response","z":"e6097cee.8df04","name":"","x":1800,"y":3400,"wires":[]},{"id":"263b6208.e37d2e","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1650,"y":3400,"wires":[["6233ca62.39a584","98b786d.f50e978"]]},{"id":"f8d4e025.a5e97","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1900,"y":3500,"wires":[]},{"id":"98b786d.f50e978","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":3460,"wires":[["f8d4e025.a5e97","3fc1279f.799868"]]},{"id":"3fc1279f.799868","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1910,"y":3460,"wires":[]},{"id":"2a12d6e.984b62a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":1520,"y":2920,"wires":[]},{"id":"3a8ed708.647b58","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":2960,"wires":[["9e67792.ed36488","db92b20d.f0d4a"]]},{"id":"9e67792.ed36488","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1490,"y":3020,"wires":[["a5225f21.a0f1b"]]},{"id":"db92b20d.f0d4a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1660,"y":2960,"wires":[]},{"id":"a5225f21.a0f1b","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":3080,"wires":[["9eec0c49.b5a37","3a5a6f7d.69e59"]]},{"id":"9eec0c49.b5a37","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1490,"y":3140,"wires":[["7f592340.c3d3fc"]]},{"id":"3a5a6f7d.69e59","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1660,"y":3080,"wires":[]},{"id":"7f592340.c3d3fc","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":3200,"wires":[["146d0cf9.87a2d3","2fd3662a.19f39a"]]},{"id":"2fd3662a.19f39a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1660,"y":3200,"wires":[]},{"id":"146d0cf9.87a2d3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1490,"y":3260,"wires":[["3b1b5efd.d86c22"]]},{"id":"4155af6b.d2b55","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":3300,"wires":[["e2f58791.4c6328","9f283c02.00454"]]},{"id":"e2f58791.4c6328","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1790,"y":3360,"wires":[["3b1b5efd.d86c22"]]},{"id":"9f283c02.00454","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1800,"y":3300,"wires":[]},{"id":"3b1b5efd.d86c22","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1480,"y":3340,"wires":[["4155af6b.d2b55"],["3c135e6f.9ea4d2"]]},{"id":"44419bf5.1e8a14","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":210,"y":3260,"wires":[["3ff06943.ae7856"]]},{"id":"4c4b42de.673cdc","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":380,"y":3200,"wires":[]},{"id":"2d01577.480a1a8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":3200,"wires":[["44419bf5.1e8a14","4c4b42de.673cdc"]]},{"id":"65d9bfb1.39189","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":380,"y":3080,"wires":[]},{"id":"15717d30.5e63f3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":210,"y":3140,"wires":[["2d01577.480a1a8"]]},{"id":"6ffa983.6cb4568","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":3080,"wires":[["15717d30.5e63f3","65d9bfb1.39189"]]},{"id":"bc7dca3b.883f88","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":210,"y":3020,"wires":[["6ffa983.6cb4568"]]},{"id":"5975ec5c.6221c4","type":"http response","z":"e6097cee.8df04","name":"","x":1070,"y":860,"wires":[]},{"id":"7ef68302.28b23c","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && !msg.payload[0].erro) {\n    return [msg, msg, null];\n} else {\n    return [null, null, msg];\n}\n","outputs":"3","noerr":0,"x":760,"y":900,"wires":[["e8bb9b34.5fa2f8"],["6073ae33.77b6b"],["1feb344e.ebff7c"]]},{"id":"52b08d67.265224","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1230,"y":900,"wires":[]},{"id":"1acc043b.b3802c","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 1","url":"/api/financeiro/recebiveis/lancamento/nosso_numero1","method":"get","swaggerDoc":"","x":140,"y":700,"wires":[["43593452.b1a4ac"]]},{"id":"43593452.b1a4ac","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY \" +\n    \"   SELECT ISNULL(MAX(RCBV.nosso_numero), 0) AS nosso_numero FROM RCBV INNER JOIN RCBV_PED ON RCBV.nosso_numero = RCBV_PED.nosso_numero; \" +\n    \"END TRY \" +\n    \"BEGIN CATCH \" +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem \" +\n    \"END CATCH \";\n\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":700,"wires":[["6d6ca379.e7b3ec"]]},{"id":"6d6ca379.e7b3ec","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":580,"y":700,"wires":[["f0cd26b7.3774a8"]]},{"id":"f0cd26b7.3774a8","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":760,"y":700,"wires":[["33654aa2.5a3696"]]},{"id":"33654aa2.5a3696","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":700,"wires":[]},{"id":"7bb92883.502308","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 2","url":"/api/financeiro/recebiveis/lancamento/nosso_numero2","method":"get","swaggerDoc":"","x":140,"y":740,"wires":[["53234bde.bd3564"]]},{"id":"53234bde.bd3564","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY \" +\n    \"   SELECT ISNULL(MAX(RCBV.nosso_numero), 0) AS nosso_numero FROM RCBV WHERE NOT EXISTS(SELECT * FROM RCBV_PED WHERE RCBV.nosso_numero = RCBV_PED.nosso_numero); \" +\n    \"END TRY \" +\n    \"BEGIN CATCH \" +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem \" +\n    \"END CATCH \";\n\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":740,"wires":[["ad01622a.8037f"]]},{"id":"ad01622a.8037f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":580,"y":740,"wires":[["b84f70ca.0658a"]]},{"id":"b84f70ca.0658a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":760,"y":740,"wires":[["8d0a670a.5f12c8"]]},{"id":"8d0a670a.5f12c8","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":740,"wires":[]},{"id":"ab11f189.41235","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":240,"y":2800,"wires":[]},{"id":"164bf3ec.20e0dc","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":3020,"wires":[[]]},{"id":"3363e690.c54e6a","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.message = 'Importar Pedidos Liberados começou.'\nmsg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":3020,"wires":[[]]},{"id":"8d8aecd5.5c1b3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":160,"y":3080,"wires":[[]]},{"id":"630fc9e9.7f4948","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return [null, msg];\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return [null, msg];\n    } else {\n        msg.payload = 'Importar Pedidos Liberados terminou. ' + msg.evento + ' Pedidos encontrados.';\n        return [msg, null];\n    }\n}\n","outputs":"2","noerr":0,"x":330,"y":3140,"wires":[[],[]]},{"id":"ae0b3cab.867e8","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [null, msg];\n} else {\n    msg.payload = 'Importar Pedidos Liberados terminou.';\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":340,"y":3080,"wires":[[],[]]},{"id":"3fc3de58.785462","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":3380,"wires":[[]]},{"id":"1361df00.4f2bf1","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":340,"y":3440,"wires":[[]]},{"id":"5659934a.13426c","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":1180,"y":40,"wires":[]},{"id":"387af974.e49a86","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":1110,"y":100,"wires":[["c977a9d0.a79068"]]},{"id":"c977a9d0.a79068","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.message = 'Importar Pedidos Liberados começou.'\nmsg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":100,"wires":[["263e74e9.f7459c"]]},{"id":"263e74e9.f7459c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":1480,"y":100,"wires":[["31251026.de54b"]]},{"id":"6a1c220d.999e3c","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return [null, msg];\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return [null, msg];\n    } else {\n        msg.payload = 'Importar Pedidos Liberados terminou. ' + msg.evento + ' Pedidos encontrados.';\n        return [msg, null];\n    }\n}\n","outputs":"2","noerr":0,"x":1870,"y":100,"wires":[["655163d1.1eb60c"],["e82b3541.3adba8"]]},{"id":"31251026.de54b","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [null, msg];\n} else {\n    msg.payload = 'Importar Pedidos Liberados terminou.';\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":1680,"y":100,"wires":[["655163d1.1eb60c"],["6a1c220d.999e3c"]]},{"id":"104ebda.dab9042","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":2640,"y":100,"wires":[["89867096.3a80b"]]},{"id":"89867096.3a80b","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":1680,"y":160,"wires":[["6a1c220d.999e3c"]]},{"id":"e82b3541.3adba8","type":"subflow:da776718.535328","z":"e6097cee.8df04","name":"","x":2050,"y":100,"wires":[["da242ae2.d369e8"],["1b1cd25a.dd199e"]]},{"id":"d12b1da3.0e86","type":"subflow:8ef917d3.3cef48","z":"e6097cee.8df04","name":"","x":2460,"y":100,"wires":[["104ebda.dab9042"]]},{"id":"1b1cd25a.dd199e","type":"function","z":"e6097cee.8df04","name":"TAREFA++","func":"msg.payload = {\n    nome: 'Lançamentos a Receber',\n    titulo: 'Pedido ' + msg.payload.numero,\n    descricao: msg.payload.cliente.nome,\n    documento: JSON.stringify(msg.payload),\n    atribuir: 'faturamento',\n    form: '/recebiveis/lancamento/',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":100,"wires":[["d12b1da3.0e86"]]},{"id":"c78d07a6.19fa48","type":"http in","z":"e6097cee.8df04","name":"tarefas","url":"/api/tarefas/","method":"get","swaggerDoc":"","x":110,"y":40,"wires":[["f53007f3.75a038"]]},{"id":"a7ab7d6c.28cbe","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":40,"wires":[["9c0d91e9.daae9"]]},{"id":"9c0d91e9.daae9","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":40,"wires":[]},{"id":"f53007f3.75a038","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @PERFIL NVARCHAR(50)\\n\" +\n    \"SET @PERFIL = \" + (msg.req.query.perfil ? \"'\" + msg.req.query.perfil + \"'\" : 'NULL') + \"\\n\" +\n    \"SELECT \" +\n    \"   id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   CAST(versao AS INT) AS versao \" +\n    \"FROM \\n\" +\n    \"\ttarefas \\n\" +\n    \"WHERE \\n\" +\n    \"   concluido IS NULL AND \\n\" +\n    \"   (atribuir IS NULL OR atribuir IN (@PERFIL)) \\n\" +\n    \"ORDER BY \\n\" +\n    \"   criado\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["a7ab7d6c.28cbe"]]},{"id":"822b2f54.7263a","type":"http in","z":"e6097cee.8df04","name":"tarefa/:id","url":"/api/tarefa/:id","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["75480484.f448ac"]]},{"id":"dd171f5d.96b64","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":80,"wires":[["f268bfbd.36dca"]]},{"id":"9f9cde6f.82ed6","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":80,"wires":[]},{"id":"75480484.f448ac","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @ID INT \" + '\\n' +\n    \"SET @ID = \" + (msg.req.params.id || 'NULL') + '\\n' +\n    \"SELECT \" + '\\n' +\n    \"   id, \" + '\\n' +\n    \"   nome, \" + '\\n' +\n    \"   titulo, \" + '\\n' +\n    \"   descricao, \" + '\\n' +\n    \"   documento, \" + '\\n' +\n    \"   atribuir, \" + '\\n' +\n    \"   form, \" + '\\n' +\n    \"   parametros, \" + '\\n' +\n    \"   prazo, \" + '\\n' +\n    \"   criado, \" + '\\n' +\n    \"   CAST(versao AS INT) AS versao \" + '\\n' +  \n    \"FROM \" + '\\n' +\n    \"\ttarefas \" + '\\n' +\n    \"WHERE \" + '\\n' +\n    \"   id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["dd171f5d.96b64"]]},{"id":"f268bfbd.36dca","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0]\n    msg.payload.documento = JSON.parse(msg.payload.documento);\n} else {\n    msg.payload = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["9f9cde6f.82ed6"]]},{"id":"828c041b.01c7b8","type":"http in","z":"e6097cee.8df04","name":"login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":110,"y":200,"wires":[["108e330.40b1dcd"]]},{"id":"2b05bcce.b00bb4","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":200,"wires":[["79527f88.75e27"]]},{"id":"b247122e.00683","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":200,"wires":[]},{"id":"108e330.40b1dcd","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @LOGIN NVARCHAR(50)\\n\" +\n    \"DECLARE @SENHA NVARCHAR(50)\\n\" +\n    \"SET @LOGIN = \" + (msg.payload.login ? \"'\" + msg.payload.login + \"'\" : 'NULL') + \"\\n\" +\n    \"SET @SENHA = \" + (msg.payload.senha ? \"'\" + msg.payload.senha + \"'\" : 'NULL') + \"\\n\" +\n    \"SELECT * \" +\n    \"FROM \\n\" +\n    \"\tusuarios \\n\" +\n    \"WHERE \\n\" +\n    \"   LOGIN = @LOGIN AND \\n\" +\n    \"   SENHA = @SENHA \\n\" \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["2b05bcce.b00bb4"]]},{"id":"79527f88.75e27","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":200,"wires":[["b247122e.00683"]]},{"id":"da242ae2.d369e8","type":"debug","z":"e6097cee.8df04","name":"NAO ENCONTROU","active":true,"console":"false","complete":"payload","x":2280,"y":40,"wires":[]},{"id":"655163d1.1eb60c","type":"debug","z":"e6097cee.8df04","name":"TERMINOU","active":true,"console":"false","complete":"payload","x":1890,"y":40,"wires":[]},{"id":"6a1c1a89.a46714","type":"http in","z":"e6097cee.8df04","name":"cobranca","url":"/api/financeiro/cobranca","method":"get","swaggerDoc":"","x":120,"y":320,"wires":[["8f8fd064.eb8ff"]]},{"id":"d9f5ec90.d6dc3","type":"http response","z":"e6097cee.8df04","name":"","x":1090,"y":360,"wires":[]},{"id":"239bb756.0d6568","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":320,"wires":[["b334ac6.deec05"]]},{"id":"8f8fd064.eb8ff","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \n\n\"SELECT RCBV.*, RCBV_PED.numero AS pedido FROM RCBV LEFT OUTER JOIN RCBV_PED ON RCBV.nosso_numero = RCBV_PED.nosso_numero\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["239bb756.0d6568"]]},{"id":"6a912fff.9f0f8","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \n\n\"SELECT * FROM RCBVD WHERE nosso_numero = \" + msg.payload.nosso_numero; \n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":280,"wires":[["75c1d707.63c4a8"]]},{"id":"75c1d707.63c4a8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1280,"y":280,"wires":[["4664d33f.00ce7c"]]},{"id":"b334ac6.deec05","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"msg.cobranca = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["b00a2452.445758"]]},{"id":"b00a2452.445758","type":"function","z":"e6097cee.8df04","name":"SQL","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    if (msg.index === undefined) {\n        msg.index = 0;\n        msg.payload = msg.cobranca[msg.index];\n        return [msg, null];\n    } else {\n        msg.index++;\n        if (msg.index < msg.cobranca.length) {\n            msg.payload = msg.cobranca[msg.index];    \n            return [msg, null]\n        }\n        msg.payload = msg.cobranca;\n        return [null, msg];\n    }\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":910,"y":320,"wires":[["6a912fff.9f0f8"],["d9f5ec90.d6dc3"]]},{"id":"4664d33f.00ce7c","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.cobranca[msg.index].parcelas = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":340,"wires":[["b00a2452.445758"]]},{"id":"92fe93de.e111a","type":"http in","z":"e6097cee.8df04","name":"tarefa/:id","url":"/api/tarefa/:id","method":"post","swaggerDoc":"","x":120,"y":120,"wires":[["6800421b.0298ac"]]},{"id":"8ca9b602.696ea8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":580,"y":120,"wires":[["52de8dcf.c81914"]]},{"id":"ffe637cd.e2c148","type":"http response","z":"e6097cee.8df04","name":"","x":910,"y":120,"wires":[]},{"id":"6800421b.0298ac","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @ID INT \" + '\\n' +\n    \"DECLARE @VERSAO INT \" + '\\n' +\n    \"SET @ID = \" + (msg.req.params.id || 'NULL') + \" \" + '\\n' +\n    \"SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT) \" + '\\n' +\n    \"UPDATE tarefas SET \" + '\\n' +\n    \"   documento = '\" + JSON.stringify(msg.payload.documento) + \"' \" + '\\n' +\n    \"WHERE \" + '\\n' +\n    \"   id = @ID AND versao = @VERSAO \" + '\\n' +\n\n    \"IF @@ROWCOUNT != 1 \" +  '\\n' +\n    \"BEGIN \" + '\\n' +\n    \"   SELECT 7450 AS erro, 'A tarefa não pode ser atualizada porque foi alterada por outro usuário do sistema enquanto estava sendo editada por você. Abra novamente a tela para obter a versão mais atual dos dados com as alterações.' AS mensagem \" + '\\n' +\n    \"   RETURN; \" + '\\n' +\n    \"END \" + '\\n' +\n\n    \"SELECT \" + '\\n' +\n    \"   id, \" + '\\n' +\n    \"   nome, \" + '\\n' +\n    \"   titulo, \" + '\\n' +\n    \"   descricao, \" + '\\n' +\n    //\"   documento, \" + '\\n' +\n    \"   atribuir, \" + '\\n' +\n    \"   form, \" + '\\n' +\n    \"   parametros, \" + '\\n' +\n    \"   prazo, \" + '\\n' +\n    \"   criado, \" + '\\n' +\n    \"   CAST(versao AS INT) AS versao \" + '\\n' +  \n    \"FROM \" + '\\n' +\n    \"\ttarefas \" + '\\n' +\n    \"WHERE \" + '\\n' +\n    \"   id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["8ca9b602.696ea8"]]},{"id":"52de8dcf.c81914","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"msg.payload = msg.payload[0]\nmsg.payload.documento = JSON.parse(msg.payload.documento);\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["ffe637cd.e2c148"]]},{"id":"5f235d15.91ee54","type":"http in","z":"e6097cee.8df04","name":"cobranca","url":"/api/financeiro/recebiveis/cobranca/tarefa/:tarefa","method":"post","swaggerDoc":"","x":120,"y":940,"wires":[["8b68db0c.1d70c8"]]},{"id":"8b68db0c.1d70c8","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var tarefa = \n{\n    nome: 'Cobrança Bancária',\n    titulo: 'Gerar Remessa de Cobrança',\n    descricao: '', //'Cobrança e Antecipação de Recebíveis',\n    documento: JSON.stringify(msg.payload.documento),\n    atribuir: 'financeiro',\n    form: '/recebiveis/cobranca/'\n}\n\nmsg.payload = \n    \"SET NOCOUNT ON \" + '\\n' +\n    \n    \"DECLARE @NOSSO_NUMERO INT \" + '\\n' +\n    \"DECLARE @PARCELA INT \" + '\\n' +\n    \"DECLARE @CARTEIRA INT \" + '\\n' + '\\n' +\n\n    \"DECLARE @CONTA_CONTABIL VARCHAR(20) \" + '\\n' +\n    \"DECLARE @CNPJ VARCHAR(20) \" + '\\n' +\n    \"DECLARE @INSCRICAO VARCHAR(12) \" + '\\n' +\n    \"DECLARE @FANTASIA VARCHAR(30) \" + '\\n' +\n    \"DECLARE @NOME VARCHAR(100) \" + '\\n' +\n    \"DECLARE @LOGRADOURO VARCHAR(5) \" + '\\n' +\n    \"DECLARE @ENDERECO VARCHAR(50) \" + '\\n' +\n    \"DECLARE @NUMERO VARCHAR(10) \" + '\\n' +\n    \"DECLARE @COMPLEMENTO VARCHAR(20) \" + '\\n' +\n    \"DECLARE @BAIRRO VARCHAR(30) \" + '\\n' +\n    \"DECLARE @MUNICIPIO INT \" + '\\n' +\n    \"DECLARE @CIDADE VARCHAR(20) \" + '\\n' +\n    \"DECLARE @CEP CHAR(9) \" + '\\n' +\n    \"DECLARE @UF CHAR(2)\" + '\\n' +\n    \"DECLARE @DDD VARCHAR(3) \" + '\\n' +\n    \"DECLARE @TELEFONE VARCHAR(15) \" + '\\n' +\n    \"DECLARE @CONTATO VARCHAR(20) \" + '\\n' + '\\n' +\n\n    \"DECLARE @FORMA_PAGTO VARCHAR(10) \" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3) \" + '\\n' +\n    \"DECLARE @VENCTO DATE \" + '\\n' +\n    \"DECLARE @PRAZO INT \" + '\\n' +\n    \"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" + '\\n' +\n    \"DECLARE @VALOR MONEY \" + '\\n' +\n    \"DECLARE @DESCRICAO VARCHAR(50) \" + '\\n' +\n    \"DECLARE @ORIGEM VARCHAR(10) \" + '\\n' + '\\n' +\n\n    \"BEGIN TRY \" + '\\n' +\n    \"   BEGIN TRANSACTION \" + '\\n' + '\\n' +\n\n    msg.payload.documento.reduce( (sql, documento) => \n    \n        sql + documento.parcelas.filter( parcela => parcela.selected && !parcela.carteira).reduce( (sql, parcela) => \n        \n            sql + \n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   -- insere nova parcela => nosso_numero: \" + documento.nosso_numero + ', parcela: ' + parcela.parcela + ', carteira: ' + msg.payload.carteira.id + '\\n' +\n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + documento.nosso_numero + \"'\" || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"      || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.carteira.id + \"'\"        || \"NULL\") + \" AS INT) \" + '\\n' + '\\n' +\n        \n            \"   IF EXISTS(SELECT NOSSO_NUMERO FROM REM WHERE nosso_numero = @NOSSO_NUMERO AND parcela = @PARCELA AND carteira = @CARTEIRA) \" + '\\n' +\n            \"   BEGIN \" + '\\n' +\n            \"   SELECT 1123 AS erro, 'Já existe um titulo com o mesmo valor do campo ''Nosso Numero'', ''Parcela'' e ''Carteira''.' AS mensagem \" + '\\n' +\n            \"   RETURN; \" + '\\n' +\n            \"   END \" + '\\n' + '\\n' +\n    \n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + documento.nosso_numero + \"'\" || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"      || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.carteira.id + \"'\"        || \"NULL\") + \" AS INT) \" + '\\n' + '\\n' +\n    \n            \"   SET @CONTA_CONTABIL = CAST('\" + documento.cliente.conta_contabil + \"' AS VARCHAR(20)) \" + '\\n' + \n            \"   SET @CNPJ = CAST(\" +           (\"'\" + documento.cliente.cnpj + \"'\"        || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n            \"   SET @INSCRICAO = CAST(\" +      (\"'\" + documento.cliente.inscricao + \"'\"   || \"NULL\") + \" AS VARCHAR(14)) \" + '\\n' +\n            \"   SET @FANTASIA = CAST(\" +       (\"'\" + documento.cliente.fantasia + \"'\"    || \"NULL\") + \" AS VARCHAR(30)) \" + '\\n' +\n            \"   SET @NOME = CAST(\" +           (\"'\" + documento.cliente.nome + \"'\"        || \"NULL\") + \" AS VARCHAR(100)) \" + '\\n' +\n            \"   SET @LOGRADOURO = CAST(\" +     (\"'\" + documento.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" + '\\n' +\n            \"   SET @ENDERECO = CAST(\" +       (\"'\" + documento.cliente.endereco + \"'\"    || \"NULL\") + \" AS VARCHAR(50)) \" + '\\n' +\n            \"   SET @NUMERO = CAST(\" +         (\"'\" + documento.cliente.numero + \"'\"      || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' +\n            \"   SET @COMPLEMENTO = CAST(\" +    (\"'\" + documento.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n            \"   SET @BAIRRO = CAST(\" +         (\"'\" + documento.cliente.bairro + \"'\"      || \"NULL\") + \" AS VARCHAR(30)) \" + '\\n' +\n            \"   SET @MUNICIPIO = CAST(\" +      (documento.cliente.municipio                   || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @CIDADE = CAST(\" +         (\"'\" + documento.cliente.cidade + \"'\"      || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' +\n            \"   SET @CEP = CAST(\" +            (\"'\" + documento.cliente.CEP + \"'\"         || \"NULL\") + \" AS CHAR(9)) \" + '\\n' +\n            \"   SET @UF = CAST(\" +             (\"'\" + documento.cliente.UF + \"'\"          || \"NULL\") + \" AS CHAR(2)) \" + '\\n' +\n            \"   SET @DDD = CAST(\" +            (\"'\" + documento.cliente.ddd + \"'\"         || \"NULL\") + \" AS VARCHAR(3)) \" + '\\n' +\n            \"   SET @TELEFONE = CAST(\" +       (\"'\" + documento.cliente.telefone + \"'\"    || \"NULL\") + \" AS VARCHAR(15)) \" + '\\n' +\n            \"   SET @CONTATO = CAST(\" +        (\"'\" + documento.cliente.contato + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" + '\\n' + '\\n' +\n        \n            \"   SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"        || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @FORMA_PAGTO = CAST(\" +    (\"'\" + parcela.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' +\n            \"   SET @TIPO_VENCTO = CAST(\" +    (\"'\" + parcela.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3)) \" + '\\n' +\n            \"   SET @VENCTO = CAST(\" +         (\"'\" + parcela.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" + '\\n' +\n            \"   SET @PRAZO = CAST(\" +          (\"'\" + parcela.prazo + \"'\"          || \"NULL\") + \" AS INT) \" + '\\n' +\n            \"   SET @VALOR = CAST(\" +          (\"'\" + parcela.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" + '\\n' +\n            \"   SET @ORIGEM = CAST(\" +         (\"'\" + parcela.origem + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" + '\\n' + '\\n' +\n            \n            \"   INSERT INTO REM (nosso_numero, parcela, carteira, remessa, retorno, situacao, conta_contabil, forma_pagto, tipo_vencto, vencto, prazo, valor, origem, cnpj, inscricao, fantasia, nome, logradouro, endereco, numero, complemento, bairro, municipio, cidade, cep, uf, ddd, telefone, contato) \" + '\\n' +\n            \"   VALUES (@NOSSO_NUMERO, @PARCELA, @CARTEIRA, GETDATE(), NULL, NULL, @CONTA_CONTABIL, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ORIGEM, @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO); \" + '\\n' + '\\n'\n        \n        , '')\n    \n    , '') +\n\n    \"   ----------------------- sempre finaliza a tarefa atual (imutavel) -----------------------\" + '\\n' +\n    \"   DECLARE @TAREFA_ATUAL INT \" + '\\n' + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" + '\\n' + '\\n' +\n    \"   UPDATE tarefas SET \" + '\\n' +\n    \"       concluido = GETDATE() \" + '\\n' +\n    \"   WHERE \" + '\\n' +\n    \"       id = @TAREFA_ATUAL; \" + '\\n' + '\\n' +\n\n    (msg.payload.documento.find( (doc) => doc.parcelas.find( (parcela) => !parcela.selected && !parcela.carteira) ) ?\n        \"   ----------------------- a tarefa ainda esta pendente, recria a tarefa -----------------------\" + '\\n' +\n        \"   DECLARE @NOVA_TAREFA INT \" + '\\n' +\n        //\"   SET @NOVA_TAREFA = (SELECT TOP 1 ID FROM tarefas WHERE nome = '\" + tarefa.nome + \"' AND concluido IS NULL) \" + '\\n' +\n        //\"   IF @NOVA_TAREFA IS NULL \" + '\\n' +\n        //\"   BEGIN \" + '\\n' +\n        \"       SET @NOVA_TAREFA = NEXT VALUE FOR tarefa_seq \" + '\\n' +\n        \"       INSERT INTO tarefas \" + '\\n' +\n        \"       SELECT \" + '\\n' +\n        \"           @NOVA_TAREFA, \" + '\\n' +\n        \"           nome, \" + '\\n' +\n        \"           titulo, \" + '\\n' +\n        \"           'Saldo de R$ \" + msg.payload.documento.reduce( (total, documento) => total + documento.parcelas.filter( (parcela) => !parcela.seleted && !parcela.carteira).reduce( (soma, parcela) => soma + parcela.valor, 0), 0) + \"', \" + '\\n' +\n        \"           '', \" + '\\n' +\n        \"           '\" + JSON.stringify(msg.payload.documento.map( (documento) => { documento.parcelas = documento.parcelas.map( (parcela) => { parcela.carteira = parcela.selected ? msg.payload.carteira : undefined; parcela.remessa = parcela.selected ? new Date().toISOString() : undefined; return parcela }); return documento })) + \"', \" + '\\n' +\n        \"           atribuir, \" + '\\n' +\n        \"           NULL, \" + '\\n' +\n        \"           form, \" + '\\n' +\n        \"           NULL, \" + '\\n' +\n        \"           NULL, \" + '\\n' +\n        \"           GETDATE(), \" + '\\n' +\n        \"           NULL \" + '\\n' +\n        \"       FROM \" + '\\n' +\n        \"           tarefas \" + '\\n' +\n        \"       WHERE \" + '\\n' +\n        \"           id = @TAREFA_ATUAL; \" + '\\n' + '\\n' +\n\n        \"       DECLARE @NOVA_TAREFA_NAV INT \" + '\\n' +\n        \"       SET @NOVA_TAREFA_NAV = NEXT VALUE FOR tarefa_nav_seq \" + '\\n' +\n        \"       INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (@NOVA_TAREFA_NAV, @TAREFA_ATUAL, @NOVA_TAREFA); \" + '\\n' + '\\n' +\n    \n        //\"   END \" + '\\n' +\n        //\"   ELSE \" + '\\n' +\n        //\"   BEGIN \" + '\\n' +\n        //\"\t    UPDATE tarefas \" + '\\n' +\n        //\"       SET documento = STUFF(documento, LEN(documento), 1, ',\" + tarefa.documento + \"' + ']') \" + '\\n' +\n        //\"       WHERE id = @NOVA_TAREFA \" + '\\n' +\n        //\"   END \" + '\\n' + '\\n' +\n    \n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @TAREFA_ATUAL \" +\n        \"   UNION \" +\n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @NOVA_TAREFA \"\n    \n    :\n        \"   SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topic FROM tarefas WHERE id = @TAREFA_ATUAL \"\n    ) + '\\n' +\n\n    \"   COMMIT TRANSACTION; \" + '\\n' + '\\n' +\n    \"END TRY \" + '\\n' +\n    \"BEGIN CATCH \" + '\\n' + '\\n' +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem \" + '\\n' +\n    \"   IF @@TRANCOUNT > 0 \" + '\\n' +\n    \"       ROLLBACK TRANSACTION \" + '\\n' +\n    \"END CATCH \" + '\\n' + '\\n';\n\n    //\"IF @@TRANCOUNT > 0 \" + '\\n' +\n    //\"   COMMIT TRANSACTION; \" + '\\n';\n    \n/*\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"     || \"NULL\") + \" AS INT) \" \n*/\n\n/*\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n*/\n\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":940,"wires":[["a1d4c2e2.7bb94"]]},{"id":"a1d4c2e2.7bb94","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":580,"y":940,"wires":[["7ef68302.28b23c"]]},{"id":"5905590e.f780c8","type":"function","z":"e6097cee.8df04","name":"","func":"msg.payload = [ { \"id\": 1339, \"nome\": \"Lançamentos a Receber\", \"titulo\": \"Pedido 74782\", \"descricao\": \"CERAMICA VELAS DE IGNICAO NGK BRASIL LTDA\", \"atribuir\": \"faturamento\", \"form\": \"/recebiveis/lancamento/\", \"parametros\": null, \"prazo\": null, \"criado\": \"2016-12-09T09:38:59.156Z\", \"concluido\": \"2016-12-09T09:39:21.036Z\" }, { \"id\": 1340, \"nome\": \"Cobrança Bancária\", \"titulo\": \"Gerar Remessa de Cobrança\", \"descricao\": \"\", \"atribuir\": \"financeiro\", \"form\": \"/recebiveis/cobranca/\", \"parametros\": null, \"prazo\": null, \"criado\": \"2016-12-09T09:39:21.036Z\", \"concluido\": null } ]\nif (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    var payload = msg.payload;\n    msg.payload = {erro: 0, mensagem: 'Tarefa concluida com sucesso !'};\n    \n    var msgs = []\n    \n    msgs.push(msg);\n    \n    msgs.push({\n        topic: '/tarefas/concluida/' + payload[0].atribuir,\n        payload: payload[0]\n    });\n\n    if (msg.payload.length > 1) {\n        msgs.push({\n            topic: '/tarefas/nova/' + payload[1].atribuir,\n            payload: payload[1]\n        })\n    }\n    \n    return msgs;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return [msg, null, null]\n}\n","outputs":"3","noerr":0,"x":450,"y":1240,"wires":[["75bc52b.b15afac"],["a3f1c335.90c3"],["209b356e.4fb30a"]]},{"id":"75bc52b.b15afac","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":650,"y":1200,"wires":[]},{"id":"8bd7ea6.9fdf218","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":1240,"wires":[["5905590e.f780c8"]]},{"id":"a3f1c335.90c3","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":650,"y":1240,"wires":[]},{"id":"209b356e.4fb30a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":650,"y":1280,"wires":[]},{"id":"e8bb9b34.5fa2f8","type":"function","z":"e6097cee.8df04","name":"ok","func":"msg.payload = {erro: 0, mensagem: 'Tarefa concluida com sucesso !'};\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":860,"wires":[["5975ec5c.6221c4"]]},{"id":"63bc7730.00fb68","type":"function","z":"e6097cee.8df04","name":"tarefa","func":"msg.topic = msg.payload.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":900,"wires":[["52b08d67.265224","bff31367.cc94c"]]},{"id":"6073ae33.77b6b","type":"split","z":"e6097cee.8df04","name":"","splt":"\\n","x":910,"y":900,"wires":[["63bc7730.00fb68"]]},{"id":"1feb344e.ebff7c","type":"function","z":"e6097cee.8df04","name":"erro","func":"msg.statusCode = 500;\n\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];    \n} else {\n    msg.payload = {erro: 9999, mensagem: 'Ocorreu um erro ao executar a sua solicitação.'}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":940,"wires":[["c6ee41fa.003"]]},{"id":"c6ee41fa.003","type":"http response","z":"e6097cee.8df04","name":"","x":1070,"y":940,"wires":[]},{"id":"bff31367.cc94c","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1250,"y":960,"wires":[]},{"id":"26676b8a.393324","type":"http response","z":"e6097cee.8df04","name":"","x":570,"y":820,"wires":[]},{"id":"c68682c4.5a9c4","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":530,"y":900,"wires":[]},{"id":"25124723.fd2d18","type":"function","z":"e6097cee.8df04","name":"","func":"msg.payload = {\n  \"id\": 1307,\n  \"nome\": \"Lançamentos a Receber\",\n  \"titulo\": \"Pedido 74749\",\n  \"concluido\": null,\n  \"versao\": {\n    \"type\": \"Buffer\",\n    \"data\": [\n      0,\n      0,\n      0,\n      0,\n      0,\n      0,\n      8,\n      10\n    ]\n  }\n}\nvar str = String.fromCharCode.apply(null, msg.payload.versao.data);\n    \nmsg.payload.buffer = str;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1070,"y":1240,"wires":[["d58ba189.68441"]]},{"id":"597c7680.bcca28","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":880,"y":1240,"wires":[["25124723.fd2d18"]]},{"id":"d58ba189.68441","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1290,"y":1240,"wires":[]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"financeiro","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]