src/node-red_02_12_2016.json
[{"id":"558979bf.aa3c78","type":"subflow","name":"tarefa ok","info":"","in":[{"x":60,"y":40,"wires":[{"id":"2d642e88.57c822"}]}],"out":[{"x":600,"y":120,"wires":[{"id":"312ac2b4.cbb98e","port":0}]}]},{"id":"2d642e88.57c822","type":"function","z":"558979bf.aa3c78","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.payload || 'NULL') + \" \" +\n\"UPDATE BPM.dbo.TAREFAS SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\n\"SELECT * FROM BPM.dbo.TAREFAS WHERE id = @ID;\"\n\nreturn msg;","outputs":"1","noerr":0,"x":260,"y":60,"wires":[["a408ee1a.3579f","b3068014.bb009"]]},{"id":"a408ee1a.3579f","type":"MSSQL","z":"558979bf.aa3c78","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":260,"y":120,"wires":[["312ac2b4.cbb98e"]]},{"id":"80fce150.6ce0f","type":"mqtt out","z":"558979bf.aa3c78","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":510,"y":220,"wires":[]},{"id":"312ac2b4.cbb98e","type":"function","z":"558979bf.aa3c78","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["80fce150.6ce0f","9e077e1a.e61df"]]},{"id":"9e077e1a.e61df","type":"debug","z":"558979bf.aa3c78","name":"","active":false,"console":"false","complete":"topic","x":520,"y":180,"wires":[]},{"id":"b3068014.bb009","type":"debug","z":"558979bf.aa3c78","name":"","active":true,"console":"false","complete":"payload","x":430,"y":60,"wires":[]},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"dc68c320.a14ca","type":"subflow","name":"tarefa++","info":"","in":[{"x":60,"y":60,"wires":[{"id":"ba79d226.f54a9"}]}],"out":[{"x":740,"y":100,"wires":[{"id":"e2d28d5f.a875e","port":0}]}]},{"id":"ba79d226.f54a9","type":"function","z":"dc68c320.a14ca","name":"TAREFA","func":"\nmsg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n\"INSERT INTO tarefas \" +\n\"   (id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n\"   conteudo, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   '\" + msg.payload.nome + \"', \" +\n\"   '\" + msg.payload.titulo + \"', \" +\n\"   '\" + msg.payload.descricao + \"', \" +\n\"   '\" + msg.payload.conteudo + \"', \" + \n\"   '\" + msg.payload.atribuir + \"', \" +\n\"   '\" + msg.payload.form + \"' + CAST(@ID AS VARCHAR(10)), \" +\n\"   NULL, \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL);\" +\n\n\"SELECT \" +\n\"   id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n//\"   conteudo, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido \" +\n\"FROM tarefas \" + \n\"WHERE id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":60,"wires":[["88efb743.bee858"]]},{"id":"88efb743.bee858","type":"MSSQL","z":"dc68c320.a14ca","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":400,"y":60,"wires":[["e2d28d5f.a875e"]]},{"id":"60ee2223.35181c","type":"mqtt out","z":"dc68c320.a14ca","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":770,"y":40,"wires":[]},{"id":"e2d28d5f.a875e","type":"function","z":"dc68c320.a14ca","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["60ee2223.35181c"]]},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"financeiro","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5e6a03bd.e8f56c","type":"subflow","name":"pedido","info":"","in":[{"x":60,"y":80,"wires":[{"id":"2f006e59.60fc92"}]}],"out":[{"x":400,"y":200,"wires":[{"id":"8fcfca5c.7d7148","port":0}]},{"x":400,"y":740,"wires":[{"id":"1526c6f9.779db9","port":0}]}]},{"id":"d1f06dfd.30cd6","type":"MSSQL","z":"5e6a03bd.e8f56c","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":680,"wires":[["1526c6f9.779db9"]]},{"id":"aab103f2.74b71","type":"function","z":"5e6a03bd.e8f56c","name":"PARCELAS","func":"msg.local.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   'VENDA' AS origem, \" +\n\"   'COBRANCA' AS forma_pagto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo_vencto, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n\"   CACPG1.CCPg1Por AS porcentagem, \" +\n\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.local.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["d1f06dfd.30cd6"]]},{"id":"74a0825.422727c","type":"MSSQL","z":"5e6a03bd.e8f56c","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":140,"wires":[["8fcfca5c.7d7148"]]},{"id":"2f006e59.60fc92","type":"function","z":"5e6a03bd.e8f56c","name":"PEDIDO","func":"msg.params = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.params || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"LPV.LPENT     AS emissao, \" +\n\"\tLPV.Lp0SaiRed AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao, \" +\n\"   1 AS desconto \" + \n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["74a0825.422727c"]]},{"id":"ab37ce9c.b18e4","type":"function","z":"5e6a03bd.e8f56c","name":"CLIENTE","func":"msg.local.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.local.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS)) AS inscricao, \" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome, \" +\n\"   LTRIM(RTRIM(CACLI.CCLogTip0CodC)) AS logradouro, \" +\n\"   LTRIM(RTRIM(CACLI.CCCEN)) AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum)) AS numero, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENCpl)) AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA)) AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI)) AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP)) AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES)) AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5)) AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3)) AS telefone, \" +\n\"   LTRIM(RTRIM(CACLI.CCCO1)) AS contato, \" +\n\"   LTRIM(RTRIM(CACLI.CCCL)) AS conta_contabil \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["350b50dc.7efc4"]]},{"id":"350b50dc.7efc4","type":"MSSQL","z":"5e6a03bd.e8f56c","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":440,"wires":[["5ed00024.e7f6a"]]},{"id":"5ed00024.e7f6a","type":"function","z":"5e6a03bd.e8f56c","name":"REPRESENTANTE","func":"msg.local.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.local.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["8ba435aa.030898"]]},{"id":"8ba435aa.030898","type":"MSSQL","z":"5e6a03bd.e8f56c","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":560,"wires":[["aab103f2.74b71"]]},{"id":"2dc21c00.0698e4","type":"function","z":"5e6a03bd.e8f56c","name":"TOTAIS","func":"msg.local = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.local.numero || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLPV1.produtos, \" + \n\"\tLPV1.ipi, \" +\n\"\tLPV1.total \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["53851464.eab2fc"]]},{"id":"53851464.eab2fc","type":"MSSQL","z":"5e6a03bd.e8f56c","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":260,"y":320,"wires":[["ab37ce9c.b18e4"]]},{"id":"1526c6f9.779db9","type":"function","z":"5e6a03bd.e8f56c","name":"RETURN","func":"msg.local.parcelas = msg.payload;\n\nmsg.payload = msg.local;\n\n//delete msg.local;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":740,"wires":[[]]},{"id":"8fcfca5c.7d7148","type":"function","z":"5e6a03bd.e8f56c","name":"EXISTE ?","func":"if (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    msg.payload = 'PEDIDO NÃO ENCONTRADO: ' + msg.params;\n    return [msg, null]; // NAO EXISTE\n} else {\n    msg.payload = msg.payload[0];\n    return [null, msg]; // ENCONTRADO\n} ","outputs":"2","noerr":0,"x":260,"y":200,"wires":[[],["2dc21c00.0698e4"]]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"93303209.ee2b","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro","method":"get","swaggerDoc":"","x":120,"y":80,"wires":[["cbe0256d.84add8"]]},{"id":"aa083202.1416","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":80,"wires":[]},{"id":"c0d031d2.07759","type":"comment","z":"e6097cee.8df04","name":"Financeiro","info":"Nova versão usando ReactJS e Material-UI","x":100,"y":40,"wires":[]},{"id":"ce2f823.01df08","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/static/:folder/:file","method":"get","swaggerDoc":"","x":170,"y":160,"wires":[["bef6192b.b4f178"]]},{"id":"a1ebd125.4ca94","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":160,"wires":[]},{"id":"bef6192b.b4f178","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["d4e2f328.e10bb"]]},{"id":"cbe0256d.84add8","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\index.html","format":"utf8","x":460,"y":80,"wires":[["aa083202.1416"]]},{"id":"d4e2f328.e10bb","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":570,"y":160,"wires":[["baa56b64.2fc918"]]},{"id":"baa56b64.2fc918","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["a1ebd125.4ca94"]]},{"id":"6f7c6eea.ba148","type":"http in","z":"e6097cee.8df04","name":"","url":"/financeiro/favicon.ico","method":"get","swaggerDoc":"","x":150,"y":120,"wires":[["84dd209e.93c37"]]},{"id":"84dd209e.93c37","type":"file in","z":"e6097cee.8df04","name":"","filename":"C:\\inetpub\\wwwroot\\financeiro\\favicon.ico","format":"utf8","x":460,"y":120,"wires":[["890fd83a.72e8b8"]]},{"id":"eecd704d.87544","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":120,"wires":[]},{"id":"890fd83a.72e8b8","type":"function","z":"e6097cee.8df04","name":"image/x-icon","func":"msg.headers = { \"Content-type\" : \"image/x-icon\" }\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["eecd704d.87544"]]},{"id":"69bba89a.20d418","type":"http in","z":"e6097cee.8df04","name":"","url":"/static/:folder/:file","method":"get","swaggerDoc":"","x":140,"y":200,"wires":[["cc7794e5.262878"]]},{"id":"cc7794e5.262878","type":"function","z":"e6097cee.8df04","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\financeiro\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["f30b2f16.a55de"]]},{"id":"f30b2f16.a55de","type":"file in","z":"e6097cee.8df04","name":"","filename":"","format":"","x":570,"y":200,"wires":[["b04bff27.eb89f"]]},{"id":"2b5aa957.08bd26","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":200,"wires":[]},{"id":"b04bff27.eb89f","type":"function","z":"e6097cee.8df04","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    case 'svg':\n        msg.headers = { \"Content-type\" : \"image/svg; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["2b5aa957.08bd26"]]},{"id":"2a41badf.bd5766","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/emissao/busca","method":"get","swaggerDoc":"","x":210,"y":280,"wires":[["532ac17e.8f755"]]},{"id":"532ac17e.8f755","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n\"DECLARE @PEDIDO INT\\n\" +\n\"DECLARE @CNPJ NVARCHAR(14)\\n\" +\n\"DECLARE @NOME NVARCHAR(100)\\n\" +\n\"SET @PEDIDO = \" + (msg.req.query.pedido || 'NULL') + \"\\n\" +\n\"SET @CNPJ = \" + (\"'\" + msg.req.query.cnpj + \"'\" || 'NULL') + \"\\n\" +\n\"SET @NOME = \" + (\"'\" + msg.req.query.nome + \"'\" || 'NULL') + \"\\n\" +\n\"SELECT top 10 \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP)) AS empresa, \\n\" +\n\"\tCAST(LPV.LPPED AS INT) AS pedido, \\n\" +\n\"\tCAST(LPV.LPENT AS DATE) AS emissao, \\n\" +\n\"\tLPV.Lp0SaiRed AS entrega, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \\n\" +\n\"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome \\n\" +\n\"FROM \\n\" +\n\"\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN \\n\" +\n\"   GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC \\n\" +\n\"WHERE \\n\" +\n\"   (@PEDIDO IS NULL OR LPV.LPPED LIKE '%' + CAST(@PEDIDO AS NVARCHAR(10)) + '%') AND \\n\" +\n\"   (@CNPJ IS NULL OR CACLI.CCCGC LIKE '%' + @CNPJ + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCFAN LIKE '%' + @NOME + '%') AND \\n\" +\n\"   (@NOME IS NULL OR CACLI.CCNOM LIKE '%' + @NOME + '%') \\n\" +\n\"ORDER BY \\n\" +\n\"   LPV.LPPED DESC\"\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["2dbd701f.2aa36"]]},{"id":"6ef6407e.f5c61","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":280,"wires":[]},{"id":"2dbd701f.2aa36","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":740,"y":280,"wires":[["6ef6407e.f5c61"]]},{"id":"60be9a9e.e5c164","type":"http in","z":"e6097cee.8df04","name":"lancamento","url":"/api/financeiro/recebiveis/lancamento/tarefa/:tarefa","method":"post","swaggerDoc":"","x":110,"y":360,"wires":[["54c2cf15.e655f"]]},{"id":"54c2cf15.e655f","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var pedido = msg.payload;\n\nmsg.payload = \n    \"DECLARE @NOSSO_NUMERO INT \" +\n    \"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + pedido.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n    \"IF EXISTS(SELECT NOSSO_NUMERO FROM RCBV WHERE nosso_numero = @NOSSO_NUMERO) \" +\n    \"BEGIN \" +\n    \"SELECT 1234 AS erro, 'Já existe um lançamento com o mesmo valor do campo ''Nosso Numero''. Para resolver o problema clique no botão ao lado do campo para carregar o próximo número disponível.' AS mensagem \" +\n    \"RETURN \" +\n    \"END \";\n    \nmsg.payload += \n    \"BEGIN TRY \" +\n    \"BEGIN TRANSACTION \";\n\nmsg.payload +=\n    \"DECLARE @CONTA_CONTABIL VARCHAR(20) \" +\n    \"DECLARE @CNPJ VARCHAR(20) \" +\n    \"DECLARE @INSCRICAO VARCHAR(12) \" +\n    \"DECLARE @FANTASIA VARCHAR(30) \" +\n    \"DECLARE @NOME VARCHAR(100) \" +\n    \"DECLARE @LOGRADOURO VARCHAR(5) \" +\n    \"DECLARE @ENDERECO VARCHAR(50) \" +\n    \"DECLARE @NUMERO VARCHAR(10) \" +\n    \"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n    \"DECLARE @BAIRRO VARCHAR(30) \" +\n    \"DECLARE @MUNICIPIO INT \" +\n    \"DECLARE @CIDADE VARCHAR(20) \" +\n    \"DECLARE @CEP CHAR(9) \" +\n    \"DECLARE @UF CHAR(2)\" +\n    \"DECLARE @DDD VARCHAR(3) \" +\n    \"DECLARE @TELEFONE VARCHAR(15) \" +\n    \"DECLARE @CONTATO VARCHAR(20) \" +\n    \n    \"SET @CONTA_CONTABIL = CAST('\" + pedido.cliente.conta_contabil + \"' AS VARCHAR(20)) \" + \n    \"SET @CNPJ = CAST(\" +           (\"'\" + pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n    \"SET @INSCRICAO = CAST(\" +      (\"'\" + pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n    \"SET @FANTASIA = CAST(\" +       (\"'\" + pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n    \"SET @NOME = CAST(\" +           (\"'\" + pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n    \"SET @LOGRADOURO = CAST(\" +     (\"'\" + pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n    \"SET @ENDERECO = CAST(\" +       (\"'\" + pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n    \"SET @NUMERO = CAST(\" +         (\"'\" + pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n    \"SET @COMPLEMENTO = CAST(\" +    (\"'\" + pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n    \"SET @BAIRRO = CAST(\" +         (\"'\" + pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n    \"SET @MUNICIPIO = CAST(\" +      (pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n    \"SET @CIDADE = CAST(\" +         (\"'\" + pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n    \"SET @CEP = CAST(\" +            (\"'\" + pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n    \"SET @UF = CAST(\" +             (\"'\" + pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n    \"SET @DDD = CAST(\" +            (\"'\" + pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n    \"SET @TELEFONE = CAST(\" +       (\"'\" + pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n    \"SET @CONTATO = CAST(\" +        (\"'\" + pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\n    \"INSERT INTO RCBV (nosso_numero, conta_contabil, cnpj, inscricao, fantasia, nome, logradouro, endereco, numero, complemento, bairro, municipio, cidade, cep, uf, ddd, telefone, contato) \" +\n    \"VALUES (@NOSSO_NUMERO, @CONTA_CONTABIL, @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO); \" +\n\n    \"DECLARE @PEDIDO_NUMERO INT \" +\n    \"SET @PEDIDO_NUMERO = CAST(\" +   (\"'\" + pedido.numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n    \"INSERT INTO RCBV_PED (RCBV_NOSSO_NUMERO, PED_NUMERO) VALUES (@NOSSO_NUMERO, @PEDIDO_NUMERO)\";\n    \nvar sql = \n    //\"DECLARE @NOSSO_NUMERO INT \" +\n    \"DECLARE @PARCELA INT \" +\n    \"DECLARE @FORMA_PAGTO VARCHAR(10) \" +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3) \" +\n    \"DECLARE @VENCTO DATE \" +\n    \"DECLARE @PRAZO INT \" +\n    \"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n    \"DECLARE @VALOR MONEY \" +\n    \"DECLARE @DESCRICAO VARCHAR(50) \" +\n    \"DECLARE @ORIGEM VARCHAR(10) \";\n\npedido.parcelas.forEach(function(parcela, index, parcelas) {\n    sql += \n    //\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (pedido.nosso_numero || pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n    \"SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n    \"SET @FORMA_PAGTO = CAST(\" +    (\"'\" + parcela.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10)) \" +\n    \"SET @TIPO_VENCTO = CAST(\" +    (\"'\" + parcela.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3)) \" +\n    \"SET @VENCTO = CAST(\" +         (\"'\" + parcela.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n    \"SET @PRAZO = CAST(\" +          (\"'\" + parcela.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n    \"SET @VALOR = CAST(\" +          (\"'\" + parcela.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n    \"SET @ORIGEM = CAST(\" +         (\"'\" + parcela.origem + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n    \n    \"INSERT INTO RCBVD (NOSSO_NUMERO, PARCELA, FORMA_PAGTO, TIPO_VENCTO, VENCTO, PRAZO, VALOR, ORIGEM) \" +\n    \"VALUES (@NOSSO_NUMERO, @PARCELA, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ORIGEM); \";\n    \n})\n\nmsg.payload += sql;\n\nmsg.payload += \n    \"DECLARE @TAREFA_ATUAL INT \" +\n    \"SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n    \"UPDATE tarefas SET \" +\n    \"\tconcluido = GETDATE() \" +\n    \"WHERE \" +\n    \"   id = @TAREFA_ATUAL; \";\n\nif (pedido.parcelas.find( parcela => parcela.forma_pagto === 'COBRANCA')) {\n    var tarefa = \n    {\n        nome: 'Cobrança e Antecipação de Recebíveis',\n        titulo: 'Pedido ' + pedido.numero,\n        descricao: pedido.cliente.nome,\n        conteudo: JSON.stringify(pedido),\n        atribuir: 'financeiro',\n        form: '/recebiveis/antecipacao/'\n    }\n    \n    msg.payload += \n        \"DECLARE @NOVA_TAREFA INT \" +\n        \"SET @NOVA_TAREFA = NEXT VALUE FOR tarefa_sequencia \" +\n        \"INSERT INTO tarefas \" +\n        \"   (id, \" +\n        \"   nome, \" +\n        \"   titulo, \" +\n        \"   descricao, \" +\n        \"   conteudo, \" +\n        \"   atribuir, \" +\n        \"   form, \" +\n        \"   parametros, \" +\n        \"   prazo, \" +\n        \"   criado, \" +\n        \"   concluido) \" +\n        \"VALUES \" +\n        \"   (@NOVA_TAREFA, \" +\n        \"   '\" + tarefa.nome + \"', \" +\n        \"   '\" + tarefa.titulo + \"', \" +\n        \"   '\" + tarefa.descricao + \"', \" +\n        \"   '\" + tarefa.conteudo + \"', \" + \n        \"   '\" + tarefa.atribuir + \"', \" +\n        \"   '\" + tarefa.form + \"' + CAST(@NOVA_TAREFA AS VARCHAR(10)), \" +\n        \"   NULL, \" +\n        \"   NULL, \" +\n        \"   GETDATE(), \" +\n        \"   NULL); \";\n\n    // resposta\n    msg.payload += \n        \"SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido FROM tarefas WHERE id = @TAREFA_ATUAL \" +\n        \"UNION \" +\n        \"SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido FROM tarefas WHERE id = @NOVA_TAREFA \";\n\n} else {\n    msg.payload += \n        \"SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido FROM tarefas WHERE id = @TAREFA_ATUAL \";\n}\n\nmsg.payload += \n    \"COMMIT TRANSACTION \" +\n    \"END TRY \" +\n    \"BEGIN CATCH \" +\n    \"SELECT ERROR_NUMBER() AS erro, ERROR_MESSAGE() AS mensagem, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_LINE() AS linha, ERROR_PROCEDURE() AS procedimento \" +\n    \"ROLLBACK TRANSACTION \" +\n    \"END CATCH \";\n\n/*\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" \n*/\n\n/*\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n*/\n\nreturn msg;","outputs":"1","noerr":0,"x":390,"y":360,"wires":[["312c4278.681bee","6123c128.b5247"]]},{"id":"312c4278.681bee","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":560,"y":360,"wires":[["7ef68302.28b23c","1c58d6ef.10d4b9"]]},{"id":"4951732f.f9bd4c","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/cobranca/concluir/:tarefa","method":"post","swaggerDoc":"","x":1100,"y":620,"wires":[["fdc27142.869bd","9b4a7cff.aa6af"]]},{"id":"88652451.f1d378","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar remessas = msg.pedido.cobrancas.filter( cobranca => !cobranca.carteira && cobranca.selected ).map( cobranca => {\n    cobranca.carteira = msg.pedido.carteira;\n    cobranca.envio = new Date().toISOString();\n    return cobranca;\n}); // deep clone\n\nmsg.pedido.remessas = JSON.parse(JSON.stringify(remessas)).map( remessa => {\n    remessa.envio = null;\n    remessa.selected = false;\n    return remessa;\n});\n\nif (msg.pedido.cobrancas.find( cob => !cob.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Envio de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'rita', \" +\n            \"   '/duplicata/cobranca/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Remessa de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE id = @ID;\"  \n\nreturn msg;","outputs":"1","noerr":0,"x":1010,"y":1160,"wires":[["23b93b70.079bb4"]]},{"id":"718dde73.1dee5","type":"http response","z":"e6097cee.8df04","name":"","x":1320,"y":1160,"wires":[]},{"id":"23b93b70.079bb4","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1150,"y":1160,"wires":[["718dde73.1dee5","7b84f1cc.f8562","dbad036.fc1b9"]]},{"id":"8b7b69bc.f07fd8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1420,"y":1260,"wires":[]},{"id":"7b84f1cc.f8562","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":1220,"wires":[["8b7b69bc.f07fd8","e06c6225.2ef94"]]},{"id":"e06c6225.2ef94","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":1430,"y":1220,"wires":[]},{"id":"fdc27142.869bd","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":660,"wires":[]},{"id":"9b4a7cff.aa6af","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":720,"wires":[["879a5f29.696a5","bc7dca3b.883f88"]]},{"id":"879a5f29.696a5","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1180,"y":720,"wires":[]},{"id":"d31a6438.c60be8","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1060,"wires":[["9eff8fd.f76ff7","ec36ad4e.e58de"]]},{"id":"9eff8fd.f76ff7","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1310,"y":1120,"wires":[["3ff06943.ae7856"]]},{"id":"ec36ad4e.e58de","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1320,"y":1060,"wires":[]},{"id":"3ff06943.ae7856","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1000,"y":1100,"wires":[["d31a6438.c60be8"],["88652451.f1d378"]]},{"id":"1d789a13.578126","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1150,"y":1380,"wires":[["12ae0e3b.945722","3915529.ddd04ae"]]},{"id":"ea4a04e8.b79a88","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1380,"y":1440,"wires":[]},{"id":"dbad036.fc1b9","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":1320,"wires":[["1d789a13.578126"]]},{"id":"26fa6812.1647b8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1370,"y":1380,"wires":[]},{"id":"12ae0e3b.945722","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1440,"wires":[["26fa6812.1647b8","ea4a04e8.b79a88"]]},{"id":"a8fdcb1.fe9b938","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.newTask) {\n    msg.payload = msg.newTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":130,"y":900,"wires":[["30db11b9.d2a70e"]]},{"id":"e714c100.95187","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/carteira","method":"get","swaggerDoc":"","x":1250,"y":80,"wires":[["6d99e77e.e79708"]]},{"id":"fd576ca2.f0b3f","type":"http response","z":"e6097cee.8df04","name":"","x":1850,"y":80,"wires":[]},{"id":"9fb727f0.568c08","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1680,"y":80,"wires":[["fd576ca2.f0b3f"]]},{"id":"6d99e77e.e79708","type":"function","z":"e6097cee.8df04","name":"CARTEIRA","func":"\nmsg.payload = \n\n\"SELECT * FROM FINANCEIRO.dbo.CRT\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":80,"wires":[["9fb727f0.568c08"]]},{"id":"2c6dbcc4.30b214","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1150,"y":1560,"wires":[["df09c4d.4a14b38"]]},{"id":"40cd130e.8de1ac","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1380,"y":1620,"wires":[]},{"id":"3915529.ddd04ae","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":1140,"y":1500,"wires":[["2c6dbcc4.30b214"]]},{"id":"d28dddd9.92d36","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1370,"y":1560,"wires":[]},{"id":"df09c4d.4a14b38","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1620,"wires":[["d28dddd9.92d36","40cd130e.8de1ac"]]},{"id":"1d36bc3d.211274","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/remessa/concluir/:tarefa","method":"post","swaggerDoc":"","x":1740,"y":620,"wires":[["2d08127a.1b37ce","65e2750f.524dec"]]},{"id":"d8bb488e.aa1888","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar retornos = JSON.parse(JSON.stringify(msg.pedido.remessas.filter( remessa => !remessa.carteira && remessa.selected ).map( remessa => {\n    remessa.envio = new Date().toISOString();\n}))); // deep clone\n\nmsg.pedido.retornos = retornos.map( ret => {\n    ret.retorno = null;\n    ret.selected = false;\n    return ret;\n})\n\nif (msg.pedido.remessas.find( r => !r.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Remessa de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'marisa', \" +\n            \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Retorno de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/retorno/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE ID = @ID;\"\n\n\nreturn msg;","outputs":"1","noerr":0,"x":1650,"y":1160,"wires":[["aa98c71e.9fd8c8"]]},{"id":"aef34ddf.13601","type":"http response","z":"e6097cee.8df04","name":"","x":1960,"y":1160,"wires":[]},{"id":"aa98c71e.9fd8c8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1810,"y":1160,"wires":[["aef34ddf.13601","ed105ec2.aa3d5","6bf87aad.9a9d24"]]},{"id":"fb8fca07.d82ff8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":2060,"y":1260,"wires":[]},{"id":"ed105ec2.aa3d5","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":1220,"wires":[["fb8fca07.d82ff8","5cb82ceb.66ac54"]]},{"id":"5cb82ceb.66ac54","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":2070,"y":1220,"wires":[]},{"id":"2d08127a.1b37ce","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":1680,"y":660,"wires":[]},{"id":"65e2750f.524dec","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":720,"wires":[["6f8c7874.abe118","ebb583ba.838e9"]]},{"id":"6f8c7874.abe118","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1650,"y":780,"wires":[["be0f9c83.e3cbe"]]},{"id":"ebb583ba.838e9","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1820,"y":720,"wires":[]},{"id":"be0f9c83.e3cbe","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":840,"wires":[["5afec2f2.2556ac","b2512bf1.af08b8"]]},{"id":"5afec2f2.2556ac","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1650,"y":900,"wires":[["6f603854.cfd8d8"]]},{"id":"b2512bf1.af08b8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1820,"y":840,"wires":[]},{"id":"6f603854.cfd8d8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":960,"wires":[["e8bf4c95.1c02f","e0ab054d.1555d8"]]},{"id":"e0ab054d.1555d8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1820,"y":960,"wires":[]},{"id":"e8bf4c95.1c02f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1650,"y":1020,"wires":[["eca8371b.ffbcd8"]]},{"id":"4d944b4b.3c7c24","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":1060,"wires":[["e003dacb.972568","26753cd4.8af5e4"]]},{"id":"e003dacb.972568","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1950,"y":1120,"wires":[["eca8371b.ffbcd8"]]},{"id":"26753cd4.8af5e4","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1960,"y":1060,"wires":[]},{"id":"eca8371b.ffbcd8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1640,"y":1100,"wires":[["4d944b4b.3c7c24"],["d8bb488e.aa1888"]]},{"id":"9a497fb0.5ac03","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1790,"y":1380,"wires":[["d8224fab.a987a","5a1e3249.78c21c"]]},{"id":"6b20ec87.b0b834","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":2020,"y":1440,"wires":[]},{"id":"6bf87aad.9a9d24","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":1780,"y":1320,"wires":[["9a497fb0.5ac03"]]},{"id":"ac57364c.454b98","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":2010,"y":1380,"wires":[]},{"id":"d8224fab.a987a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":1440,"wires":[["ac57364c.454b98","6b20ec87.b0b834"]]},{"id":"d51c6292.21d67","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":1790,"y":1560,"wires":[["336ba990.137ed6"]]},{"id":"696ff4f.5c8380c","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":2020,"y":1620,"wires":[]},{"id":"5a1e3249.78c21c","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":1780,"y":1500,"wires":[["d51c6292.21d67"]]},{"id":"d2e1e303.5067d","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":2010,"y":1560,"wires":[]},{"id":"336ba990.137ed6","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":1620,"wires":[["d2e1e303.5067d","696ff4f.5c8380c"]]},{"id":"28d0b350.2af9bc","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/retorno/concluir/:tarefa","method":"post","swaggerDoc":"","x":2380,"y":620,"wires":[["2a12d6e.984b62a","3a8ed708.647b58"]]},{"id":"3c135e6f.9ea4d2","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nreturn msg;","outputs":"1","noerr":0,"x":2290,"y":1160,"wires":[["263b6208.e37d2e"]]},{"id":"6233ca62.39a584","type":"http response","z":"e6097cee.8df04","name":"","x":2600,"y":1160,"wires":[]},{"id":"263b6208.e37d2e","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"2c209f4e.630ba","name":"","query":"","outField":"payload","x":2450,"y":1160,"wires":[["6233ca62.39a584","98b786d.f50e978"]]},{"id":"f8d4e025.a5e97","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":2700,"y":1260,"wires":[]},{"id":"98b786d.f50e978","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":1220,"wires":[["f8d4e025.a5e97","3fc1279f.799868"]]},{"id":"3fc1279f.799868","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":2710,"y":1220,"wires":[]},{"id":"2a12d6e.984b62a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":2320,"y":680,"wires":[]},{"id":"3a8ed708.647b58","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":720,"wires":[["9e67792.ed36488","db92b20d.f0d4a"]]},{"id":"9e67792.ed36488","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2290,"y":780,"wires":[["a5225f21.a0f1b"]]},{"id":"db92b20d.f0d4a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2460,"y":720,"wires":[]},{"id":"a5225f21.a0f1b","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":840,"wires":[["9eec0c49.b5a37","3a5a6f7d.69e59"]]},{"id":"9eec0c49.b5a37","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2290,"y":900,"wires":[["7f592340.c3d3fc"]]},{"id":"3a5a6f7d.69e59","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2460,"y":840,"wires":[]},{"id":"7f592340.c3d3fc","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2280,"y":960,"wires":[["146d0cf9.87a2d3","2fd3662a.19f39a"]]},{"id":"2fd3662a.19f39a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2460,"y":960,"wires":[]},{"id":"146d0cf9.87a2d3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2290,"y":1020,"wires":[["3b1b5efd.d86c22"]]},{"id":"4155af6b.d2b55","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":2440,"y":1060,"wires":[["e2f58791.4c6328","9f283c02.00454"]]},{"id":"e2f58791.4c6328","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":2590,"y":1120,"wires":[["3b1b5efd.d86c22"]]},{"id":"9f283c02.00454","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":2600,"y":1060,"wires":[]},{"id":"3b1b5efd.d86c22","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":2280,"y":1100,"wires":[["4155af6b.d2b55"],["3c135e6f.9ea4d2"]]},{"id":"44419bf5.1e8a14","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1010,"y":1020,"wires":[["3ff06943.ae7856"]]},{"id":"4c4b42de.673cdc","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1180,"y":960,"wires":[]},{"id":"2d01577.480a1a8","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":960,"wires":[["44419bf5.1e8a14","4c4b42de.673cdc"]]},{"id":"65d9bfb1.39189","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1180,"y":840,"wires":[]},{"id":"15717d30.5e63f3","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1010,"y":900,"wires":[["2d01577.480a1a8"]]},{"id":"6ffa983.6cb4568","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":840,"wires":[["15717d30.5e63f3","65d9bfb1.39189"]]},{"id":"bc7dca3b.883f88","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":1010,"y":780,"wires":[["6ffa983.6cb4568"]]},{"id":"f2baa89b.1b2e88","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":230,"y":1500,"wires":[]},{"id":"54ca722a.3430ac","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":1560,"wires":[["eee6cb0f.0fb7f8"]]},{"id":"eee6cb0f.0fb7f8","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.message = 'Importar Pedidos Liberados começou.'\nmsg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1560,"wires":[["904bfdd2.b3f01","81850844.a076f8"]]},{"id":"904bfdd2.b3f01","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":160,"y":1620,"wires":[["88813f36.7fce6"]]},{"id":"2c353ebd.cbe782","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return [null, msg];\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return [null, msg];\n    } else {\n        msg.payload = 'Importar Pedidos Liberados terminou. ' + msg.evento + ' Pedidos encontrados.';\n        return [msg, null];\n    }\n}\n","outputs":"2","noerr":0,"x":330,"y":1680,"wires":[["22b4e344.1f475c"],["3d8dbd11.b9f932"]]},{"id":"88813f36.7fce6","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [null, msg];\n} else {\n    msg.payload = 'Importar Pedidos Liberados terminou.';\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":340,"y":1620,"wires":[["22b4e344.1f475c"],["2c353ebd.cbe782"]]},{"id":"d16f5973.9490a8","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1920,"wires":[["233c46b.1ea2bba"]]},{"id":"233c46b.1ea2bba","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":340,"y":1980,"wires":[["2c353ebd.cbe782"]]},{"id":"e32992e7.db455","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"74715","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1360,"wires":[["d69a48df.d50478"]]},{"id":"2e03c796.0d7688","type":"debug","z":"e6097cee.8df04","name":"ENCONTROU","active":true,"console":"false","complete":"payload","x":460,"y":1340,"wires":[]},{"id":"523ac728.ec46b8","type":"debug","z":"e6097cee.8df04","name":"NAO EXISTE","active":true,"console":"false","complete":"payload","x":460,"y":1380,"wires":[]},{"id":"d69a48df.d50478","type":"subflow:5e6a03bd.e8f56c","z":"e6097cee.8df04","x":270,"y":1360,"wires":[["2e03c796.0d7688"],["523ac728.ec46b8"]]},{"id":"3d8dbd11.b9f932","type":"subflow:5e6a03bd.e8f56c","z":"e6097cee.8df04","name":"","x":330,"y":1740,"wires":[["c573a46e.2e52a8"],["e9213eab.b87d1"]]},{"id":"eb80f93e.c37898","type":"subflow:dc68c320.a14ca","z":"e6097cee.8df04","name":"","x":340,"y":1860,"wires":[["d16f5973.9490a8"]]},{"id":"e9213eab.b87d1","type":"function","z":"e6097cee.8df04","name":"TAREFA++","func":"msg.payload = {\n    nome: 'Lançamentos a Receber',\n    titulo: 'Pedido ' + msg.payload.numero,\n    descricao: msg.payload.cliente.nome,\n    conteudo: JSON.stringify(msg.payload),\n    atribuir: 'faturamento',\n    form: '/recebiveis/lancamento/',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1800,"wires":[["eb80f93e.c37898"]]},{"id":"22b4e344.1f475c","type":"debug","z":"e6097cee.8df04","name":"TERMINOU","active":true,"console":"false","complete":"payload","x":530,"y":1640,"wires":[]},{"id":"c573a46e.2e52a8","type":"debug","z":"e6097cee.8df04","name":"NAO ENCONTROU","active":true,"console":"false","complete":"payload","x":560,"y":1740,"wires":[]},{"id":"81850844.a076f8","type":"debug","z":"e6097cee.8df04","name":"COMECOU","active":false,"console":"false","complete":"message","x":530,"y":1560,"wires":[]},{"id":"30db11b9.d2a70e","type":"subflow:dc68c320.a14ca","z":"e6097cee.8df04","name":"","x":300,"y":900,"wires":[[]]},{"id":"5e4e6789.2f1f18","type":"subflow:558979bf.aa3c78","z":"e6097cee.8df04","name":"","x":300,"y":840,"wires":[["a8fdcb1.fe9b938"]]},{"id":"c5ed35f9.9164b8","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"if (msg.payload.cliente.desconto) {\n    var cobrancas = JSON.parse(JSON.stringify(msg.pedido.parcelas)); // deep clone\n\n    msg.pedido.cobrancas = cobrancas.map( cobranca => {\n        cobranca.selected = false;\n        return cobranca;\n    });\n    \n    msg.newTask = {\n        nome: 'Envio de Cobrança',\n        titulo: 'Pedido ' + msg.payload.numero,\n        descricao: msg.payload.cliente.nome,\n        conteudo: JSON.stringify(msg.payload),\n        atribuir: 'rita',\n        form: '/duplicata/cobranca/'\n    }\n}\n\nmsg.payload = parseInt(msg.req.params.tarefa);\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":840,"wires":[["5e4e6789.2f1f18"]]},{"id":"5975ec5c.6221c4","type":"http response","z":"e6097cee.8df04","name":"","x":1090,"y":300,"wires":[]},{"id":"452bd470.bb9d5c","type":"catch","z":"e6097cee.8df04","name":"","scope":null,"x":180,"y":720,"wires":[["477e413d.4e5ce"]]},{"id":"477e413d.4e5ce","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"true","x":370,"y":720,"wires":[]},{"id":"7ef68302.28b23c","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    var payload = msg.payload;\n    msg.payload = {erro: 0, mensagem: 'Tarefa concluida com sucesso !'};\n    \n    var msgs = []\n    \n    msgs.push(msg);\n    \n    msgs.push({\n        topic: '/tarefas/concluida/' + payload[0].atribuir,\n        payload: payload[0]\n    });\n\n    if (msg.payload.length > 1) {\n        msgs.push({\n            topic: '/tarefas/nova/' + payload[1].atribuir,\n            payload: payload[1]\n        })\n    }\n    \n    return msgs;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return [msg, null, null]\n}\n","outputs":"3","noerr":0,"x":880,"y":360,"wires":[["5975ec5c.6221c4","4aded0ca.4d37f"],["52b08d67.265224","2898a6.f785875a"],["a7e97f0e.5f2c5","52bffc06.9bcf94"]]},{"id":"52b08d67.265224","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1090,"y":360,"wires":[]},{"id":"a7e97f0e.5f2c5","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"86aaad3e.7a45","x":1090,"y":420,"wires":[]},{"id":"52bffc06.9bcf94","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1110,"y":480,"wires":[]},{"id":"2898a6.f785875a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1230,"y":340,"wires":[]},{"id":"4aded0ca.4d37f","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1110,"y":260,"wires":[]},{"id":"1acc043b.b3802c","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 1","url":"/api/financeiro/recebiveis/lancamento/nosso_numero1","method":"get","swaggerDoc":"","x":120,"y":440,"wires":[["43593452.b1a4ac"]]},{"id":"43593452.b1a4ac","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY \" +\n    \"   SELECT ISNULL(MAX(NOSSO_NUMERO), 0) AS nosso_numero FROM FINANCEIRO.dbo.RCBV INNER JOIN FINANCEIRO.dbo.RCBV_PED ON NOSSO_NUMERO = RCBV_NOSSO_NUMERO; \" +\n    \"END TRY \" +\n    \"BEGIN CATCH \" +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_MESSAGE() AS mensagem, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_LINE() AS linha, ERROR_PROCEDURE() AS procedimento \" +\n    \"END CATCH \";\n\nreturn msg;","outputs":"1","noerr":0,"x":390,"y":440,"wires":[["6d6ca379.e7b3ec"]]},{"id":"6d6ca379.e7b3ec","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":560,"y":440,"wires":[["f0cd26b7.3774a8"]]},{"id":"f0cd26b7.3774a8","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":740,"y":440,"wires":[["33654aa2.5a3696"]]},{"id":"33654aa2.5a3696","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":440,"wires":[]},{"id":"7bb92883.502308","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 2","url":"/api/financeiro/recebiveis/lancamento/nosso_numero2","method":"get","swaggerDoc":"","x":120,"y":480,"wires":[["53234bde.bd3564"]]},{"id":"53234bde.bd3564","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY \" +\n    \"   SELECT ISNULL(MAX(NOSSO_NUMERO), 0) AS nosso_numero FROM FINANCEIRO.dbo.RCBV WHERE NOT EXISTS(SELECT * FROM FINANCEIRO.dbo.RCBV_PED WHERE NOSSO_NUMERO = RCBV_NOSSO_NUMERO); \" +\n    \"END TRY \" +\n    \"BEGIN CATCH \" +\n    \"   SELECT ERROR_NUMBER() AS erro, ERROR_MESSAGE() AS mensagem, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_LINE() AS linha, ERROR_PROCEDURE() AS procedimento \" +\n    \"END CATCH \";\n\nreturn msg;","outputs":"1","noerr":0,"x":390,"y":480,"wires":[["ad01622a.8037f"]]},{"id":"ad01622a.8037f","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8d04a38.3d9938","name":"MSSQL","query":"","outField":"payload","x":560,"y":480,"wires":[["b84f70ca.0658a"]]},{"id":"b84f70ca.0658a","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":740,"y":480,"wires":[["8d0a670a.5f12c8"]]},{"id":"8d0a670a.5f12c8","type":"http response","z":"e6097cee.8df04","name":"","x":890,"y":480,"wires":[]},{"id":"6123c128.b5247","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":570,"y":400,"wires":[]},{"id":"1c58d6ef.10d4b9","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":830,"y":400,"wires":[]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"financeiro","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"},{"id":"2c209f4e.630ba","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
