src/tarefas.json
[{"id":"9ac72840.ca4358","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefas/","method":"get","swaggerDoc":"","x":120,"y":60,"wires":[["d4887ea8.76049"]]},{"id":"7aee88e1.a62b38","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":480,"y":60,"wires":[["42b8b362.5f0edc"]]},{"id":"42b8b362.5f0edc","type":"http response","z":"f86766e7.efda18","name":"","x":650,"y":60,"wires":[]},{"id":"d4887ea8.76049","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n    \"DECLARE @PERFIL NVARCHAR(50)\\n\" +\n    \"SET @PERFIL = \" + (msg.req.query.perfil ? \"'\" + msg.req.query.perfil + \"'\" : 'NULL') + \"\\n\" +\n    \"SELECT \" +\n    \"   id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido \" +\n    \"FROM \\n\" +\n    \"\ttarefas \\n\" +\n    \"WHERE \\n\" +\n    \"   concluido IS NULL AND \\n\" +\n    \"   (atribuir IS NULL OR atribuir IN (@PERFIL)) \\n\" +\n    \"ORDER BY \\n\" +\n    \"   criado\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["7aee88e1.a62b38"]]},{"id":"5d32fc32.8c4b04","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/tarefa/:id","method":"get","swaggerDoc":"","x":120,"y":120,"wires":[["bee26883.b34178"]]},{"id":"7fea04d6.40269c","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":480,"y":120,"wires":[["d5caaa42.024008"]]},{"id":"78123345.77f5ac","type":"http response","z":"f86766e7.efda18","name":"","x":810,"y":120,"wires":[]},{"id":"bee26883.b34178","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n    \"DECLARE @ID INT\\n\" +\n    \"SET @ID = \" + (msg.req.params.id || 'NULL') + \"\\n\" +\n    \"SELECT * \" +\n    \"FROM \\n\" +\n    \"\ttarefas \\n\" +\n    \"WHERE \\n\" +\n    \"   id = @ID \\n\"\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["7fea04d6.40269c"]]},{"id":"d5caaa42.024008","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = msg.payload[0]\nmsg.payload.conteudo = JSON.parse(msg.payload.conteudo);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["78123345.77f5ac","5c1cbfda.78e65"]]},{"id":"6868b9c3.859638","type":"http in","z":"f86766e7.efda18","name":"","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":140,"y":280,"wires":[["e266b798.87a948","9ef19761.281e28"]]},{"id":"7de4316d.58af5","type":"MSSQL","z":"f86766e7.efda18","mssqlCN":"f8d04a38.3d9938","name":"","query":"","outField":"payload","x":480,"y":280,"wires":[["4525bc61.5054a4","16979696.0cd4f9"]]},{"id":"8e47830a.8300f","type":"http response","z":"f86766e7.efda18","name":"","x":790,"y":280,"wires":[]},{"id":"e266b798.87a948","type":"function","z":"f86766e7.efda18","name":"SQL","func":"msg.payload = \n    \"DECLARE @LOGIN NVARCHAR(50)\\n\" +\n    \"DECLARE @SENHA NVARCHAR(50)\\n\" +\n    \"SET @LOGIN = \" + (msg.payload.login ? \"'\" + msg.payload.login + \"'\" : 'NULL') + \"\\n\" +\n    \"SET @SENHA = \" + (msg.payload.senha ? \"'\" + msg.payload.senha + \"'\" : 'NULL') + \"\\n\" +\n    \"SELECT * \" +\n    \"FROM \\n\" +\n    \"\tusuarios \\n\" +\n    \"WHERE \\n\" +\n    \"   LOGIN = @LOGIN AND \\n\" +\n    \"   SENHA = @SENHA \\n\" \n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["7de4316d.58af5"]]},{"id":"7349dd46.28de44","type":"debug","z":"f86766e7.efda18","name":"","active":true,"console":"false","complete":"false","x":810,"y":220,"wires":[]},{"id":"4525bc61.5054a4","type":"function","z":"f86766e7.efda18","name":"SQL","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["8e47830a.8300f","7349dd46.28de44"]]},{"id":"9ef19761.281e28","type":"debug","z":"f86766e7.efda18","name":"","active":true,"console":"false","complete":"false","x":350,"y":220,"wires":[]},{"id":"16979696.0cd4f9","type":"debug","z":"f86766e7.efda18","name":"","active":true,"console":"false","complete":"false","x":670,"y":340,"wires":[]},{"id":"5c1cbfda.78e65","type":"debug","z":"f86766e7.efda18","name":"","active":true,"console":"false","complete":"false","x":830,"y":80,"wires":[]},{"id":"f8d04a38.3d9938","type":"MSSQL-CN","z":"","name":"financeiro","server":"192.168.0.1","encyption":false,"database":"FINANCEIRO"}]